.user-card
  display: grid
  grid-template-columns: 70px min-content auto auto
  grid-template-rows: 1fr 1fr

  .perm-status-panel
    grid-column: 2/3
    grid-row: 2/3

  &__calling
    grid-template-rows: 1fr
    align-items: center

    .user-card--online
      &.active
        display: none
    &-master
      .user-card
        &--status
          display: flex
          box-sizing: border-box

  &--status
    grid-row: 2/3
    grid-column: 3/4

  &--avatar
    grid-column: 1/2
    grid-row: 1/3
    height: 60px
    width: 60px
    border-radius: 50%
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    position: relative
    border: 2px solid var(--br-white)

    .avatar-previews-2 > &
      &:nth-of-type(1)
        transform: translateY(-5px)

      &:nth-of-type(2)
        transform: translateY(5px)

    .avatar-previews-3 > &
      &:nth-of-type(1)
        transform: translateY(-10px)

      &:nth-of-type(3)
        transform: translateY(10px)

    &.small
      height: 34px
      width: 34px
      grid-column: 1/2
      grid-row: 1/3
      margin: 0 auto


      .user-card--online
        bottom: -5px
        right: 0

    &.small-header
      grid-row: 1/3
      grid-column: 2/3
      height: 42px
      width: 42px
      .user-card--online
        bottom: -5px
        right: 0

  &--online
    position: absolute
    height: 15px
    width: 15px
    border-radius: 50%
    border: 3px solid var(--br-white)
    background-color: var(--bg-silver)
    bottom: 0
    right: 5px
    display: flex

    &.active
      background-color: var(--bg-green)

  &--name
    grid-column: 2/5
    grid-row: 1/2
    font-size: var(--font-user-name)

  &--actions
    grid-column: 3/5
    grid-row: 1/3
    display: flex
    justify-content: flex-end
    align-self: stretch
    justify-self: end
    align-items: center
    background: linear-gradient(90deg, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, 1) 50%)
    padding-left: 35px

    &:empty
      display: none

    .chater-btn
      &:not(:last-child)
        margin-right: 10px


.chat-member.user-card
  border-radius: 4px
  padding: 10px
  grid-template-columns: 50px min-content auto max-content

  &:not(:last-child)
    margin-bottom: 10px

  .user-card--name
    font-size: var(--chat-small)

  .user-card--status
    font-size: var(--chat-small)
    color: var(--bg-black)
    opacity: .7

  .user-card--online
    height: 10px
    width: 10px
    border-width: 2px
    bottom: -2px
    right: -2px

  .user-card--avatar
    height: 30px
    width: 30px
    justify-self: center
    align-self: center
