.animation_blink
  animation: blink var(--transition-duration) + .5s var(--transition-timing-function) infinite

@keyframes blink
  0%
    opacity: 0
    transform: scale(.8)

  50%
    opacity: 1
    transform: scale(1)

  100%
    opacity: 0
    transform: scale(.8)
