.animation-countdown
  &_seconds
    &-first,
    &-second
      animation-name: countdown
      animation-timing-function: cubic-bezier(1, 0, 1, 0)
      animation-iteration-count: infinite

    &-first
      animation-duration: 100s

    &-second
      animation-duration: 10s


@keyframes countdown
  @for $i from 0 through 10
    #{$i * 10}%
      transform: translateY($i * -100%)
