<template>
  <div class="message-block__file-list">
    <component :is="embed | resolveComponent"
               :file="embed"
               :message="message"/>
  </div>
</template>

<script>
  import VideoEmbed from '@vue/components/chat/message/embeds/video';
  import AudioEmbed from '@vue/components/chat/message/embeds/audio';
  import ImageEmbed from '@vue/components/chat/message/embeds/image';
  import GenericEmbed from '@vue/components/chat/message/embeds/generic';
  import GalleryImageEmbed from '@vue/components/chat/message/embeds/gallery-image';

  const VIDEO_EMBED = 'video-embed';
  const AUDIO_EMBED = 'audio-embed';
  const IMAGE_EMBED = 'image-embed';
  const GENERIC_EMBED = 'generic-embed';
  const GALLERY_IMAGE_EMBED = 'gallery-image-embed';

  export default {
    props: {
      embed: {
        type: Object,
        required: true,
      },
      message: {
        type: Object,
        required: true,
      },
    },
    components: {
      [VIDEO_EMBED]: VideoEmbed,
      [AUDIO_EMBED]: AudioEmbed,
      [IMAGE_EMBED]: ImageEmbed,
      [GENERIC_EMBED]: GenericEmbed,
      [GALLERY_IMAGE_EMBED]: GalleryImageEmbed,
    },
    filters: {
      resolveComponent({mimeType, name}) {
        switch (true) {
          case /^audio\//i.test(mimeType) || /^record-message-[0-9]+$/i.test(name):
            return AUDIO_EMBED;
          case /^video\//i.test(mimeType):
            return VIDEO_EMBED;
          case /^image\//i.test(mimeType):
            return IMAGE_EMBED;
          case /^gallery\/image/i.test(mimeType):
            return GALLERY_IMAGE_EMBED;
          default:
            return GENERIC_EMBED;
        }

      },
    },
  };
</script>
