<template>
  <div class="image-gallery">
    <div class="image-gallery__wrapper has-click"
         @click="galleryClickHandler">
      <div v-if="hasCounter"
           class="image-gallery__number">
        +&nbsp;{{ hiddenImages.length }}
      </div>

      <image-embed v-for="image in previewImages"
                   :key="`gallery-image-${image.id}-${file.id}`"
                   :file="image"
                   :message="message"/>
    </div>


    <modal v-model="isModalOpen"
           @close="modalCloseHandler" >
      <template v-slot:content>
        <gallery-slider :images="slides" />
      </template>
    </modal>
  </div>
</template>

<script>
  import EmbedMixin from '@vue/components/chat/message/embeds/embed-mixin';
  import ImageEmbed from '@vue/components/chat/message/embeds/image';
  import Modal from '@vue/components/popup/modal/index';
  import GallerySlider from '@vue/components/master-slider/gallery-slider';

  export default {
    mixins: [
      EmbedMixin,
    ],
    components: {
      'image-embed': ImageEmbed,
      modal: Modal,
      'gallery-slider': GallerySlider,
    },
    data() {
      return {
        isModalOpen: false,
        imagesToShow: 2,
      };
    },
    computed: {
      previewImages() {
        return this.file.files.slice(0, this.imagesToShow);
      },
      hiddenImages() {
        return this.file.files.slice(this.imagesToShow);
      },
      hasCounter() {
        return this.hiddenImages.length > 0;
      },
      slides() {
        return this.file.files.map(({id, name}) => ({
          name,
          id,
        }))
      },
    },
    methods: {
      galleryClickHandler() {
        const {getters, dispatch} = this.$store;
        for (const file of this.hiddenImages) {
          if (!getters['files/loaded'][file.id]) {
            dispatch('files/startLoad', {
              id: file.id,
            });
          }
        }

        this.isModalOpen = true;
      },
      modalCloseHandler() {
        this.isModalOpen = false;
      }
    },
    mounted() {},
    beforeDestroy() {},
  };
</script>
