<template>
  <div class="message-block__file-item generic-file">
    <template v-if="canShow">
      <div class="generic-file__title">{{ title }}</div>
      <div class="generic-file__hint">{{ file.name }}</div>
      <div class="generic-file__type">{{ type }}</div>
      <div class="generic-file__size">{{ file.size | fileSize }}</div>
      <a :href="loadedContentUrl"
         class="generic-file__download"
         :title="file.name"
         :download="true"
         target="_blank">
        <icon type="download"/>
      </a>
    </template>
    <preloader v-else/>
  </div>
</template>

<script>
  import EmbedMixin from '@vue/components/chat/message/embeds/embed-mixin';
  import Icon from '@vue/components/deco/icon';

  export default {
    mixins: [
      EmbedMixin,
    ],
    components: {
      icon: Icon,
    },
    computed: {
      title() {
        const {name} = this.file;
        const nameLength = name.length;
        if (nameLength <= 10) {
          return name;
        }

        return `${name.substring(0, 5)}...${name.substring(nameLength - 6)}`;
      },
      type() {
        const {mimeType} = this.file;
        const slashPos = mimeType.indexOf('/')

        return slashPos > -1 ? mimeType.substring(slashPos + 1) : mimeType;
      },
    },
    filters: {
      mimeTypeMap(mimeType) {
        switch(mimeType) {
          default:
            return mimeType;
        }
      },
      fileSize(size) {
        let postfixes = ['K', 'M', 'G',];
        let postfix = '';

        while (size > 1024) {
          size = Math.round(size * 100 / 1024) / 100;
          postfix = postfixes.shift();
        }

        return `${size}${postfix}`;
      },
    },
  };
</script>
