<template>
  <div class="image-gallery__item">
    <template v-if="canShow">
      <img :src.prop="loadedContentUrl"
           :alt="file.name"
           @click="imageClickHandler"/>

      <modal v-model="isModalOpen"
             @close="modalCloseHandler" >
        <template v-slot:content>
          <img :src.prop="loadedContentUrl"
               :alt="file.name"/>
        </template>
      </modal>

    </template>
    <preloader v-else/>
  </div>
</template>

<script>
  import EmbedMixin from '@vue/components/chat/message/embeds/embed-mixin';
  import Modal from '@vue/components/popup/modal';

  export default {
    mixins: [
      EmbedMixin,
    ],
    components: {
      modal: Modal,
    },
    data() {
      return {
        isModalOpen: false,
      };
    },
    methods: {
      modalCloseHandler() {
        this.isModalOpen = false;
      },
      imageClickHandler() {
        this.isModalOpen = true;
      },
    },
  };
</script>
