<template>
  <video v-if="canShow"
         :src.prop="loadedContentUrl"
         :controls.prop="true"/>
  <preloader v-else/>
</template>

<script>
  import EmbedMixin from '@vue/components/chat/message/embeds/embed-mixin';

  export default {
    mixins: [
      EmbedMixin,
    ],
  };
</script>
