<template>
  <header :class="previewsClass('message-window__header')">
    <icon-btn @click.native="backBtnClickHandler"
              class-name="message-window__back"
              icon="arrow_back_ios" />

    <!-- default header -->
    <template v-if="canShowDefaultHeader">
      <user-avatar v-for="user in previews"
                   :key="`active-chat-user-avatar-${user.id}`"
                   :user="user"
                   wrapper-class="small-header"/>
      <b class="message-window__title">{{ title }}</b>

      <icon-btn @click.native="translateBtnClickHandler"
                :class-name="translateBtnClass"
                :hint="$t('translationHint')"
                icon="translate" />
    </template>

    <!-- translation form -->
    <div v-if="translateMenuOpen"
         class="message-window__translate-form">
      {{ $t('chooseLanguage') }}:&nbsp;
      <select @change="translateSelectChangeHandler"
              class="message-window__translate-form-select"
              :value.prop="activeTranslation">
        <option value="">-</option>
        <option v-for="lang, code in langs"
                :key="code"
                :value="code">{{ lang }}</option>
      </select>
    </div>

    <!-- chat control drawer -->
    <chat-modal v-model="showChatMenu"
                mode="side"
                @close="chatMenuCloseHandler">
      <dialog-control-panel v-if="canShowCP"
                            slot="content" />
    </chat-modal>

    <!-- message context menu -->
    <context-menu :display="showMenu"
                  :items="menuItems"
                  @action="menuActionHandler"/>

    <!-- menu/close button -->
    <icon-btn v-if="canShowToggleBtn"
              @click.native="toggleMenuBtnClickHandler"
              class-name="message-window__content-menu"
              :icon="toggleBtnText" />
  </header>
</template>

<script>
  import Avatar from '@vue/components/user-card/avatar';
  import DropDownMenu from '@vue/components/popup/dropdown-menu/index';
  import Modal from '@vue/components/popup/modal';
  import Icon from '@vue/components/deco/icon';
  import DialogItemMixin from '@vue/components/dialog-list/dialog-item-mixin';
  import langs from '@js/config/langs';
  import IconBtn from '@vue/components/deco/icon-btn';
  import ChatMenu from '@vue/components/chat/message/context-menu/index'
  import DialogControlPanel from '@vue/components/chat/active-chat-control-panel';

  import {CONTEXT_MENU_HEADER} from '@js/const/content-menu-types';

  const CONTEXT_ACTION_CANCEL = 'CONTEXT_ACTION_CANCEL';
  const CONTEXT_ACTION_REPLY = 'CONTEXT_ACTION_REPLY';
  const CONTEXT_ACTION_EDIT = 'CONTEXT_ACTION_EDIT';
  const CONTEXT_ACTION_REMOVE = 'CONTEXT_ACTION_REMOVE';

  export default {
    mixins: [
      DialogItemMixin,
    ],
    props: {
      dialog: {
        type: Object,
        required: true,
      },
      hasContextMenu: {
        type: Boolean,
        defaultValue: false,
      },
    },
    components: {
      icon: Icon,
      'user-avatar': Avatar,
      'context-menu': DropDownMenu,
      'icon-btn': IconBtn,
      'chat-menu': ChatMenu,
      'chat-modal': Modal,
      'dialog-control-panel': DialogControlPanel,
    },
    data() {
      return {
        inviteFormOpen: false,
        showChatMenu: false,
        translateMenuOpen: false,
        langs,
      };
    },
    computed: {
      activeTranslation() {
        return this.$store.getters['chats/translateActive'];
      },
      translateBtnClass() {
        const activeClass = this.activeTranslation ? 'active' : '';

        return `message-window__translate-btn ${activeClass} chater-hint_left`;
      },
      canShowToggleBtn() {
        return !this.showMenu && this.hasContextMenu;
      },
      toggleBtnText() {
        return !this.inviteFormOpen && !this.showChatMenu && !this.translateMenuOpen ? 'more_vert' : 'close';
      },
      canShowDefaultHeader() {
        return !this.showMenu && !this.inviteFormOpen && !this.translateMenuOpen;
      },
      menuItems() {
        this.showChatMenu = false;
        const currentUser = this.$store.getters['user/currentUser'];
        const activeMessage = this.$store.getters['chats/activeMessage'];

        let menu = [
          {
            action: CONTEXT_ACTION_CANCEL,
            icon: 'cancel',
          },
          {
            action: CONTEXT_ACTION_REPLY,
            icon: 'reply',
          },
        ];

        if (activeMessage && currentUser.id === activeMessage.user.id) {
          menu = [
            ...menu,
            {
              action: CONTEXT_ACTION_EDIT,
              icon: 'edit',
            },
            {
              action: CONTEXT_ACTION_REMOVE,
              icon: 'delete',
            },
          ];
        }

        return menu;
      },
      showMenu() {
        const {getters} = this.$store;

        return !!getters['chats/activeMessage'] && getters['chats/contextMenuType'] === CONTEXT_MENU_HEADER;
      },
      canShowCP() {
        return !!this.$store.getters['dialogs/activeChat'];
      }
    },
    methods: {
      chatMenuCloseHandler() {
        this.showChatMenu = false;
      },
      translateSelectChangeHandler({target: {value}}) {
        this.$store.dispatch('chats/setTranslateActive', value);
        this.translateMenuOpen = false;
      },
      translateBtnClickHandler() {
        this.translateMenuOpen = true;
      },
      backBtnClickHandler() {
        const {dispatch} = this.$store;

        dispatch('app/setShowMobileChat', false);
        dispatch('dialogs/setActiveChat', null);
      },
      toggleMenuBtnClickHandler() {
        if (this.inviteFormOpen) {
          this.inviteFormOpen = false;
        } else if (this.translateMenuOpen) {
          this.translateMenuOpen = false;
        } else {
          this.showChatMenu = !this.showChatMenu;
        }
      },
      menuActionHandler(action) {
        const {dispatch} = this.$store;
        const activeMessage = this.$store.getters['chats/activeMessage'];

        return Promise.resolve().then(() => {
          switch (action) {
            case CONTEXT_ACTION_REPLY:
              return dispatch('chats/setReply', activeMessage);
            case CONTEXT_ACTION_EDIT:
              return dispatch('chats/setEdit', activeMessage);
            case CONTEXT_ACTION_REMOVE:
              return confirm(this.$t('rUSureRemoveMsg')) ? dispatch('chats/remove', {
                id: activeMessage.id,
              }) : null;
          }
        }).then(dispatch('chats/setActiveMessage', null));
      },
    },
  };
</script>
