<template>
  <div :class="wrapperClass" @click="itemClickHandler">

    <user-avatar v-for="user in previews"
                 :key="`dialog-user-avatar-${user.id}`"
                 :user="user"
                 wrapper-class="small"/>
    <div class="dialog-room__wrap">
      <b class="dialog-room__title">{{ title }}</b>
    </div>
    <div class="dialog-room__message">{{ lastMessage }}</div>
    <div class="dialog-room__time">{{ timeAgo }}</div>
    <div class="dialog-room__chat-count" v-if="stats.notReadCount > 0">
      <span class="dialog-room__chat-count-number">{{ newMessagesCount }}</span>
    </div>
  </div>
</template>

<script>
  import Avatar from '@vue/components/user-card/avatar';
  import {singleTimeAgo} from '@shared/utils/normalize';
  import DialogItemMixin from '@vue/components/dialog-list/dialog-item-mixin';

  export default {
    mixins: [
      DialogItemMixin,
    ],
    props: {
      dialog: {
        type: Object,
        required: true,
      },
    },
    components: {
      'user-avatar': Avatar,
    },
    data() {
      return {
        timeAgo: '',
        timeSpanUpdateInterval: null,
      };
    },
    computed: {
      wrapperClass() {
        const {id} = this.$store.getters['dialogs/activeChat'] || {};

        return this.previewsClass(`dialog-room ${this.dialog.id === id ? 'active' : ''}`);
      },
      lastMessage() {
        return this.stats.lastMessage ? this.stats.lastMessage.message : '';
      },
      newMessagesCount() {
        return this.stats.notReadCount > 9 ? '9+' : this.stats.notReadCount;
      },
    },
    methods: {
      itemClickHandler() {
        const {dispatch, getters} = this.$store;

        const activeChat = getters['dialogs/activeChat'] || {};
        if (activeChat.id === this.dialog.id) {
          return;
        }

        dispatch('dialogs/setActiveChat', this.dialog);
        dispatch('app/setShowMobileChat', true);
      },
      calculateTimeSpan() {
        const timeSpanStruct = singleTimeAgo(this.dialog.updatedAt);
        const agoText = this.$t(`${timeSpanStruct.measure}Ago`, timeSpanStruct.measure);
        this.timeAgo = `${timeSpanStruct.count} ${agoText}`;
      },
    },
    mounted() {
      this.calculateTimeSpan();

      this.timeSpanUpdateInterval = setInterval(
        this.calculateTimeSpan.bind(this),
        35000
      );
    },
    beforeDestroy() {
      clearInterval(this.timeSpanUpdateInterval);
    },
  };
</script>
