<template>
  <div :class="wrapperClass"
       :style="style">
    <menu-item v-for="item in items"
               :item="item"
               :key="item.action"
               @action="itemClickHandler"/>
  </div>
</template>

<script>
  import MenuItem from '@vue/components/popup/dropdown-menu/item';

  export default {
    props: {
      items: {
        type: Array,
        required: true,
      },
      className: {
        type: String,
      },
      position: {
        type: Object,
      },
    },
    components: {
      'menu-item': MenuItem,
    },
    data() {
      return {
        style: '',
      };
    },
    computed: {
      wrapperClass() {
        return `chater-context-menu ${this.className}`;
      },
    },
    methods: {
      itemClickHandler(action) {
        this.$emit('action', action);
      },
    },
    mounted() {
      const {x, y, inverse} = this.position || {};
      if (!x && !y) {
        return;
      }

      const inverseTop = inverse ? this.$el.getBoundingClientRect().height : 0;

      this.style = `top: ${y - inverseTop}px; left: ${x}px;`;
    },
  };
</script>
