<template>
  <div :class="wrapperClass"
       v-if="value"
       @click.exact="closeClickHandler"
       ref="backdrop">
    <div class="chater-modal">
      <header class="chater-modal--header">
        <div class="chater-modal--header-content"><slot name="header"></slot></div>
        <icon-btn class-name="chater-modal--close-btn has-click"
                  @click.native="closeClickHandler"
                  icon="cancel"
                  ref="closeBtn"/>
      </header>
      <div class="chater-modal--content"><slot name="content"></slot></div>
      <footer class="chater-modal--footer"><slot name="footer"></slot></footer>
    </div>
  </div>
</template>

<script>
  import IconBtn from '@vue/components/deco/icon-btn';

  export default {
    components: {
      'icon-btn': IconBtn,
    },
    props: {
      mode: {
        type: String,
        defaultValue: '',
      },
      value: {
        type: Boolean,
        defaultValue: false,
      },
    },
    computed: {
      wrapperClass() {
        return `chater-modal--backdrop ${this.mode}`;
      },
    },
    methods: {
      closeClickHandler(event) {
        const target = event.target;
        const {backdrop, closeBtn} = this.$refs;

        if (target !== backdrop && target !== closeBtn.$el) {
          return;
        }

        event.preventDefault();
        event.stopPropagation();

        this.$emit('close', this);
      },
    },
  };
</script>
