.message-window
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 73px auto min-content
  grid-column: 2/3
  grid-row: 1/3
  width: 100%
  height: 100%
  min-height: 300px
  background-color: var(--bg-white)

  &.read-messages
    .message-window__list
      grid-row: 1/3

  &__menu
    grid-column: 3/5
    justify-self: end
    z-index: 1
    top: calc(100% - 16px)

  &__header
    display: grid
    align-items: center
    grid-template-rows: 1fr 1fr
    grid-template-columns: 30px 70px auto 30px 30px
    padding: 15px
    border-bottom: 1px solid var(--br-chat)
    background-color: var(--bg-white)
    position: relative

    .dc-context-menu
      grid-column: 3/6
      grid-row: 1/3
      display: flex
      justify-self: end

      .context-menu__item
        margin-left: 15px
        color: var(--icon-chat-btn)

  &__back
    grid-row: 1/3
    grid-column: 1/2

    @media (min-width: $md)
      display: none

    &:hover
      opacity: .7

  &__title
    grid-row: 1/2
    grid-column: 3/4
    overflow: hidden
    text-overflow: ellipsis
    padding-right: 15px
    white-space: nowrap

  &__translate-form
    display: flex
    grid-row: 1/3
    grid-column: 2/5
    margin: 0 30px
    align-items: center
    align-self: stretch

    &-select
      max-width: 100%
      padding: 0 20px
      color: var(--br-search-input)
      border: 1px solid var(--br-search-input)
      border-radius: 6px
      align-self: stretch
      background: none
      box-shadow: none
      outline: none

  &__translate-btn
    color: var(--icon-chat-btn)
    grid-row: 1/3
    grid-column: 4/5
    cursor: pointer
    opacity: 1
    justify-self: end
    transition: opacity var(--transition-duration) var(--transition-timing-function)

    &.active
      color: var(--bg-green)

    &:hover
      opacity: .7

  &__content-menu
    grid-row: 1/3
    grid-column: 5/6

  .chatter-message-form
    grid-column: 1/2
    grid-row: 3/4
    background-color: var(--bg-search)
    padding: 15px
    border-top: 1px solid var(--br-chat)

    &__recording-text
      align-self: center

    &__send-message
      display: grid
      grid-template-rows: auto
      grid-template-columns: 50px auto 50px
      align-items: center

    &__wrap-btn
      display: flex
      justify-content: center
      align-items: center
      grid-row: 1/2
      grid-column: 3/4

    &-add-file__btn,
    &__record-btn,
    &__send-btn
      border-radius: 50%
      height: 34px
      width: 34px
      display: flex
      flex-wrap: wrap
      justify-content: center
      align-items: center
      background-color: var(--bg-green)
      color: var(--icons-wht)

    &__list
      padding: 0
      margin: 0
      display: flex
      flex-wrap: wrap

    &__list-item
      display: flex
      align-items: center
      background-color: var(--bg-green)
      min-width: 0
      border-radius: 15px
      margin: 0 5px 10px
      &-text
        color: #ffffff
        flex: 1
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap
        width: 250px
        padding: 5px 20px

    &__list-item-close
      background-color: transparent
      color: #ffffff
      display: flex
      align-items: center
      justify-content: center
      i
        font-size: var(--icon-size-S)

    &__textarea
      border: 1px solid var(--br-chat)
      grid-row: 1/2
      grid-column: 2/3
      padding: 5px
      border-radius: 20px
      font-size: var(--chat-small)
      background-color: var(--bg-white)
      margin: 0

      textarea
        height: 100%
        width: 100%
        resize: none


    .chat-add-file
      display: flex
      align-items: center
      justify-content: center
      grid-row: 1/2
      grid-column: 1/2

      &__btn
        background-color: transparent
        color: var(--icon-chat-btn)

    &__content-menu
      border: 1px solid var(--br-chat)
      padding: 10px
      border-radius: 5px
      margin-bottom: 10px
      display: grid
      grid-template-columns: auto 30px
      grid-template-rows: auto

      &--close
        grid-column: 2/3
        background-color: var(--bg-search)
        color: var(--icons-silver)

      &--name
        grid-column: 1/2
        grid-row: 1/2
        font-style: italic
        font-size: var(--chat-extra-small)

      &--text
        grid-column: 1/2
