.chat
  display: grid
  grid-template-columns: auto
  grid-template-rows: min-content auto
  width: 100%
  height: 100%
  overflow-x: hidden
  background-color: var(--bg-white)

  @media (min-width: 768px)
    grid-template-columns: 3fr 7fr
    grid-template-rows: auto

  &.active
    .chat__dialog-wrapper
      transform: translateX(-100%)

    .chat__default-window
      transform: translateX(0)

    .message-window
      transform: translateX(0)

    @media (min-width: 768px)
      .chat__dialog-wrapper
        transform: translateX(0)

      .chat__default-window,
      .message-window
        transform: none
  &__dialog-wrapper
    z-index: 1
    transform: translateX(0)
    @media (min-width: 768px)
      border-right: 1px solid var(--br-chat)

  &__default-window
    transform: translateX(100%)
    @media (min-width: 768px)
      transform: translateX(0)

  .message-window
    transform: translateX(100%)

  &__title
    font-size: var(--font-title)

  &__subtitle
    font-size: var(--font-user-name)

  &__title,
  &__subtitle
    text-align: center
    margin-bottom: 24px

  &__default-window-img
    max-width: 300px
    height: auto

  &__dialog-wrapper
    transition: transform var(--transition-duration) var(--transition-timing-function)
    grid-row: 1/2
    grid-column: 1/2
    display: grid
    grid-template-columns: auto
    grid-template-rows: 73px auto
    background-color: var(--bg-white)

  &__default-window
    transition: transform var(--transition-duration) var(--transition-timing-function)
    grid-row: 1/2
    grid-column: 1/2
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: var(--bg-white)

    @media (min-width: 768px)
      grid-column: 2/3

  .message-window
    transition: transform var(--transition-duration) var(--transition-timing-function)
    grid-row: 1/2
    grid-column: 1/2
    @media (min-width: 768px)
      grid-column: 2/3

  &__search-wrap
    border-bottom: 1px solid var(--br-chat)
    background-color: var(--bg-search)
    padding: 0 15px
    display: flex
    align-items: center
    grid-row: 1/2
    grid-column: 1/2

  &__search
    border: 1px solid var(--br-search-input)
    border-radius: 20px
    background-color: var(--bg-white)
    display: flex
    align-items: center
    width: 100%
    overflow: hidden
    margin: 0

    i
      font-size: var(--chat-small)
      padding: 13px

    &-input
      display: flex
      align-self: stretch
      width: 100%
      border: none
      outline: none
      box-shadow: none
      padding: 0 var(--icon-size-S) 0 0
      font-size: var(--chat-small)

  &__dialog-rooms
    grid-row: 2/3
    grid-column: 1/2
    width: 100%
    overflow-y: auto

.message-window__list
  overflow-y: auto
  overflow-x: hidden
  scroll-behavior: smooth
