\:root
    --bg-white: #ffffff
    --bg-green: #52AC62
    --bg-black: #000000
    --bg-silver: #d3d3d3
    --bg-red: #FF4E4E
    --bg-yellow: #FF571D
    --bg-search: #EFF2FF

    --br-black: #000000
    --br-white: #ffffff

    --br-chat: #D2E1F5
    --br-search-input: #16395B
    --br-user-card: #C0D3FE


    --icons-def: #16395B
    --icons-wht: #ffffff
    --icons-silver: #6d6b6b
    --icon-chat-btn: #8F9CCC

    --text-def: #000000
    --text-red: #FF4E4E
    --text-wht: #ffffff
    --text-slvr: #778A9E

