\:root
    --ic-sz-def: 32px
    --ic-sz-md: 24px
    --ic-sz-sm: 14px
    --font-title: 24px
    --font-user-name: 18px

    --icon-size-S: 18px

    --chat-extra-small: 12px
    --chat-small: 14px
    --chat-medium: 16px
