<template>
  <div class="dialogs-preview dropdown">
    <widget-link :count="count"
                 :link="link"/>
    <messages-list :link="link"
                   :messages="messages"/>
  </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import Link from '@vue/components/widgets/new-messages/link';
  import MessagesList from '@vue/components/widgets/new-messages/messages-list';

  export default {
    components: {
      'widget-link': Link,
      'messages-list': MessagesList,
    },
    computed: {
      ...mapGetters({
        count: 'widgets/newMessages/count',
        messages: 'widgets/newMessages/messages',
      }),
      link() {
        return this.$params.get('widgets.new-messages.link');
      },
    },
    mounted() {
      this.$store.dispatch('widgets/newMessages/requestData');
    },
  };
</script>
