<template>
  <a :href="link">
    <i class="material-icons-outlined">mail_outline</i>
    <span v-if="count > 0"
          class="circle-btn blue-notice cabinet_responses-count cabinet-sidebar-nav__nums">{{ count }}</span>
  </a>
</template>

<script>
  export default {
    props: {
      count: {
        type: Number,
        required: true,
      },
      link: {
        type: String,
        required: true,
      },
    },

  };
</script>
