<template>
  <div class="dropdown-body">
    <div class="dialogs-preview__title">
      <span>{{ $t('yourMessages') }}</span>
      <a :href="link">
        {{ $t('all') }}&nbsp;<i class="material-icons-outlined">keyboard_arrow_right</i>
      </a>
    </div>
    <div class="dialogs-list">
      <template v-if="messages.length > 0">
        <div class="dialogs-item"
             v-for="message in simpleMessages"
             :key="`new-message-widget-item-${message.id}`">
          <div class="dialogs-item__pic">
            <img :src="message.user.avatar"
                 :alt="message.user.nick">
          </div>
          <div class="dialogs-item__body">
            <div class="dialogs-item__name">{{ message.user.nick }}</div>
            <div class="dialogs-item__date">{{ message.date | date }}</div>
            <div class="dialogs-item__message">{{ message.message }}</div>
          </div>
        </div>
      </template>
      <div v-else
           class="none-notification">
        {{ $t('noMessages') }}
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    props: {
      link: {
        type: String,
        required: true,
      },
      messages: {
        type: Array,
        required: true,
      },
    },
    computed: {
      simpleMessages() {
        return this.messages.map((message) => {
          message.reply = null;
          message.files = [];

          return message;
        })
      },
    },
    filters: {
      date(date) {
        return `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()} ${date.getHours()}:${date.getMinutes()}`;
      },
    },
  };
</script>
