<template>
  <div v-if="seconds > 0"
       class="chater-countdown">
    {{ currentSeconds }}
  </div>
</template>

<script>
  export default {
    props: {
      seconds: {
        type: Number,
        default: 0,
      },
    },
    data() {
      return {
        secondsInterval: null,
        currentSeconds: this.seconds,
      };
    },
    mounted() {
      this.secondsInterval = setInterval(() => {
        if (this.currentSeconds < 1) {
          clearInterval(this.secondsInterval);

          return;
        }

        this.currentSeconds--;
      }, 1000);
    },
    beforeDestroy() {
      clearInterval(this.secondsInterval);
    },
  };
</script>
