<template>
  <button :class="wrapperClass">
    <icon :type="icon" />
    <span class="chater-hint">{{ hint }}</span>
  </button>
</template>

<script>
  import Icon from '@vue/components/deco/icon';

  export default {
    components: {
      icon: Icon,
    },
    props: {
      className: {
        type: String,
      },
      icon: {
        type: String,
        required: true,
      },
      hint: {
        type: String,
        default: ''
      },
    },
    computed: {
      wrapperClass() {
        return `chater-btn-icon ${this.className} ${this.hint.length > 0 ? 'has-hint' : ''}`;
      },
    },
  };
</script>
