<template>
  <i :class="className">{{ type }}</i>
</template>
<script>
  export default {
    props: {
      type: {
        type: String,
        required: true,
      },
      wrapperClass: {
        type: String,
        defaultValue: '',
      },
    },
    computed: {
      className() {
        return `material-icons-outlined ${this.wrapperClass}`;
      },
    },
  };
</script>
