<template>
  <div v-if="canPing"
       :class="wrapperClass">
    <span class="chater-network-status--item"></span>
    <span class="chater-network-status--item"></span>
    <span class="chater-network-status--item"></span>
    <span class="chater-network-status--item"></span>
    <span class="chater-network-status--item"></span>
  </div>
</template>

<script>
  let pseudoMedian = [];

  export default {
    data() {
      return {
        grade: 5,
      };
    },
    computed: {
      pingUrl() {
        return `${this.$params.get('params.pingUrl')}`.trim();
      },
      wrapperClass() {
        return `chater-network-status status-${this.grade}`;
      },
      canPing() {
        return this.pingUrl.length > 3;
      }
    },
    methods: {
      ping() {
        if (pseudoMedian.length >= 3) {
          pseudoMedian.shift();
        }

        setTimeout(() => {
          const startTime = Date.now();

          fetch(this.pingUrl, {
            mode: 'cors',
          }).finally(() => {
            const responseTime = Date.now() - startTime;
            pseudoMedian.push(responseTime);

            if (pseudoMedian.length === 3) {
              const latency = Math.round(pseudoMedian.reduce((a, b) => a + b, 0) / pseudoMedian.length);
              this.grade = this.mapLatencyToGrade(latency);
            }

            this.ping();
          });
        }, 1000);
      },
      mapLatencyToGrade(latency) {
        if (latency < 25) {
          return 5;
        } else if (latency >= 25 && latency < 70) {
          return 4;
        } else if (latency >= 70 && latency < 150) {
          return 3;
        } else if (latency >= 150 && latency < 270) {
          return 2;
        } else {
          return 1;
        }
      },
    },
    mounted() {
      if (!this.canPing) {
        return;
      }

      this.ping();
    },
  };

</script>
