<template>
  <label :class="wrapperClass">
    <input class="chater-switcher--input"
           type="checkbox"
           v-model="checked"
           @change="inputChangeHandler">
    <span class="chater-switcher--deco"></span>
  </label>
</template>

<script>
  export default {
    props: {
      className: {
        type: String,
        defaultValue: '',
      },
      value: {
        type: Boolean,
        defaultValue: false,
      },
    },
    data() {
      return {
        checked: this.value,
      };
    },
    computed: {
      wrapperClass() {
        return `chater-switcher ${this.className}`;
      },
    },
    methods: {
      inputChangeHandler() {
        this.$emit('input', this.checked);
      },
    },
  };
</script>
