.video-widget
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: 50px auto
  overflow: hidden

  &--name
    grid-column: 1/4
    grid-row: 1/2
    z-index: 1
    transition: opacity var(--transition-duration) var(--transition-timing-function)
    opacity: 0
    display: flex
    align-items: center
    color: var(--text-wht)

  &:hover .video-widget--name
    opacity: 1

  &--video
    width: 100%
    height: auto
    object-fit: cover

  &--video,
  &--preloader
    grid-column: 1/4
    grid-row: 1/3
    max-height: 100%
    min-height: fit-content

  &--control
    align-self: end
    grid-row: 2/3
    z-index: 1
    transition: opacity var(--transition-duration) var(--transition-timing-function)
    opacity: 0
    background-color: var(--bg-silver)

    &.mute-btn
      grid-column: 1/2

    &.close-btn
      grid-column: 2/3

    &.fullscreen-btn
      grid-column: 3/4

  &:hover .video-widget--control
    opacity: 1


