.preloader
  position: relative
  height: 30px
  width: 30px
  display: flex
  align-items: center
  justify-content: center
  margin: 0 auto

  &:before,
  &:after
    content: ''
    display: flex
    position: absolute
    height: 100%
    width: 100%
    border: 3px solid var(--bg-green)
    border-top-color: transparent
    border-bottom-color: transparent
    border-radius: 50%
    animation-name: rotate
    animation-timing-function: linear
    animation-iteration-count: infinite
    animation-duration: 1s


  &:after
    height: 75%
    width: 75%
    animation-duration: .5s

@keyframes rotate
  from
    transform: rotate(0deg)

  to
    transform: rotate(360deg)
