.chater-broadcast
  &-wrapper
    display: grid
    grid-template-rows: minmax(300px, auto) auto
    grid-template-columns: auto  minmax(auto, 450px)

    .chater-notification-list
      grid-column: 1/3
      grid-row: 1/3
      z-index: 5

    .chater-user-list
      grid-column: 1/3
      grid-row: 2/3

      @media (min-width: var(--md))
        &
          grid-column: 2/3
          grid-row: 1/3

    .video-widget,
    .local-video
      grid-column: 1/3
      grid-row: 1/2
      align-self: stretch
      justify-self: stretch

      @media (min-width: var(--md))
        &
          grid-column: 1/2
          grid-row: 1/3

    .perm-status-panel
      grid-column: 1/2
      grid-row: 1/2
      align-self: start

  &--watchers-counter
    grid-column: 1/3
    grid-row: 1/2
    align-self: start
    justify-self: end
    z-index: 1

    @media (min-width: var(--md))
      &
        grid-column: 1/2
        grid-row: 1/2

  &--btn,
  &--waiting
    grid-column: 1/3
    grid-row: 1/2
    align-self: center
    justify-self: center

    @media (min-width: var(--md))
      &
        grid-column: 1/2
        grid-row: 1/3
