.local-video
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 1fr

  &--video
    grid-column: 1/2
    grid-row: 1/2
    width: 100%
    height: auto
    object-fit: cover
    align-self: stretch
    justify-self: stretch
    transform: rotateY(180deg)
    min-height: fit-content
    max-height: 100%

  &--control
    grid-column: 1/2
    grid-row: 1/2
    align-self: end
    justify-self: center
    z-index: 1
    opacity: 0
    background-color: var(--bg-silver)
    transition: opacity var(--transition-duration) var(--transition-timing-function)

  &:hover .local-video--control
    opacity: 1
