<template>
  <div :class="wrapperClass"
       @click="clickHandler">
    <div class="video-widget--name">{{ call.nick }}</div>
    <video ref="video"
           class="video-widget--video"
           :muted.prop="muted"
           :autoplay.prop="true"
           :srcObject.prop="videoStream"
           v-if="videoStream" >
      {{ $t('connecting') }} ...
    </video>
    <div v-else
         class="video-widget--preloader preloader">
    </div>
    <button v-if="showMuteBtn"
            @click="muteBtnClickHandler"
            class="chater-btn chater-btn--video-conf-btn options">
            <i class="material-icons-outlined">{{ muted ? 'volume_off' : 'volume_up' }}</i>
    </button>
    <slot name="controls"></slot>
  </div>
</template>

<script>

  export default {
    props: {
      call: Object,
      showMuteBtn: {
        type: Boolean,
        default: true,
      },
      isMuted: {
        type: Boolean,
        default: true,
      },
      isActive: Boolean,
      itemClass: {
        type: String,
        default: '',
      },
      clickHandler: Function,
    },
    data() {
      return {
        muted: this.isMuted,
        stream: null,
      };
    },
    computed: {
      videoStream() {
        return this.$store.getters['rtc/streams'][this.call.id];
      },
      wrapperClass() {
        return `video-widget item ${this.itemClass}`;
      },
    },
    methods: {
      muteBtnClickHandler() {
        this.muted = !this.muted;
      },
    },
    beforeDestroy() {
      this.$refs.video.pause();
    }
  };
</script>
