.has-chater-badge
  position: relative

  .chater-badge
    position: absolute
    top: 0
    right: 0
    transform: translate(50%, -50%)
    font-size: var(--chat-extra-small)
    height: var(--font-user-name)
    width: var(--font-user-name)
    line-height: 1
    display: flex
    justify-content: center
    align-items: center

    &::before
      content: ''
      position: absolute
      display: flex
      border-radius: 50%
      top: 0
      left: 0
      height: 100%
      width: 100%
      background-color: var(--bg-green)
      color: var(--bg-white)
      z-index: -1
