.chater-btn
  cursor: pointer
  background: none
  outline: none
  border: none
  box-shadow: none
  user-select: none
  padding: 0

  &-icon
    @extend .chater-btn
    display: flex
    align-items: center
    justify-content: center
    color: var(--icon-chat-btn)
    opacity: 1
    transition: opacity var(--transition-duration) var(--transition-timing-function)

    &:hover
      opacity: .7

    &.disabled
      opacity: .3
      cursor: auto

      &:hover
        opacity: .3

  &-circle
    font-size: var(--ic-sz-md)
    color: var(--icons-wht)
    width: 50px
    height: 50px
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center

  &.green
    background-color: var(--bg-green)

  &.red-text
    color: var(--bg-red)

  &:not(:last-child)
    margin-right: 10px

  &--activate-btn
    color: var(--icons-wht)
    display: flex
    font-size: var(--font-user-name)
    align-items: center

    i
      font-size: var(--ic-sz-def)

  &--user-btn
    grid-row: 2/3
    grid-column: 2/3
    color: var(--icons-wht)
    z-index: 2

  &--slider-btn
    color: var(--icons-wht)
    display: flex
    align-items: center
    font-size: var(--ic-sz-sm)
    justify-content: center
    background-color: var(--bg-black)
    opacity: .6
    border-radius: 4px
    width: 100%

  &--video-conf-btn
    font-size: var(--ic-sz-md)
    color: var(--icons-wht)
    width: 50px
    height: 50px
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    &.green
      background-color: var(--bg-green)
      transform: rotate(90deg)
    &.red
      background-color: var(--bg-red)
      i
        transform: rotate(135deg)
    &.options
      background-color: var(--bg-white)
      color: var(--icons-def)
      grid-row: 1/2
      grid-column: 2/3
      justify-self: start
      &:hover
        opacity: .8

.has-click
  position: relative

  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
