.has-hint
  position: relative
  z-index: 2

  .chater-hint
    position: absolute
    background-color: var(--bg-black)
    color: var(--bg-white)
    padding: 5px 10px
    border-radius: 4px
    transition: opacity var(--transition-timing-function) var(--transition-duration)
    opacity: 0
    font-size: var(--chat-small)
    pointer-events: none

  &:hover
    opacity: 1

    .chater-hint
      opacity: 1

  &.chater-hint_left .chater-hint
    right: calc(100% + 15px)
    top: 0
