.chater-network-status
  display: flex
  height: 15px
  align-items: flex-end

  &.status-1
    .chater-network-status--item:nth-child(1)
      background-color: var(--bg-red)

  &.status-2
    .chater-network-status--item:nth-child(1),
    .chater-network-status--item:nth-child(2)
      background-color: var(--bg-red)

  &.status-3
    .chater-network-status--item:nth-child(1),
    .chater-network-status--item:nth-child(2),
    .chater-network-status--item:nth-child(3)
      background-color: var(--bg-yellow)

  &.status-4
    .chater-network-status--item:nth-child(1),
    .chater-network-status--item:nth-child(2),
    .chater-network-status--item:nth-child(3),
    .chater-network-status--item:nth-child(4)
      background-color: var(--bg-green)

  &.status-5
    .chater-network-status--item
      background-color: var(--bg-green)

  &--item
    margin-right: 2px
    background-color: var(--bg-white)
    width: 2px
    display: flex
    transform-origin: bottom
    height: 100%

    @for $i from 1 through 5
      &:nth-child(#{$i})
        transform: scaleY($i * .2)

