.chater-switcher
  &--deco
    position: relative
    border: 1px solid var(--br-chat)
    height: 22px
    width: 42px
    border-radius: 11px
    transition: border-color var(--transition-timing-function) var(--transition-duration)
    cursor: pointer
    display: flex

    &::after
      content: ''
      display: flex
      position: absolute
      top: 0
      left: 0
      height: 20px
      width: 20px
      background-color: var(--br-chat)
      transform: translateX(0)
      transition: background-color var(--transition-timing-function) var(--transition-duration), transform var(--transition-timing-function) var(--transition-duration)
      border-radius: 10px

  &--input
    visibility: hidden
    position: absolute

    &:checked + .chater-switcher--deco
      border-color: var(--bg-green)

      &::after
        background-color: var(--bg-green)
        transform: translateX(100%)

