@import "ui/ui"
@import "icon/icon"
@import "grid"
@import "chater-wrapper/chater-wrapper"
@import "user-card/user-card"
@import "video-widget/video-widget"
@import "perm-status-panel/perm-status-panel"
@import "broadcast-wrapper/broadcast-wrapper"
@import "local-video/local-video"
@import "notifications/notifications"
@import "chater-master-slider/chater-master-slider"
@import "panels"
@import "dialog-list/item"
@import "chat"
@import "loading/preloader"
@import "popup"

*
  outline: none

img
  width: 100%
  height: auto
  object-fit: cover
