<template>
  <div class="dc-context-menu" v-if="display">
    <menu-item v-for="item in items"
               :item="item"
               :key="item.action"
               @action="itemClickHandler"/>
  </div>
</template>

<script>
  import MenuItem from '@vue/components/popup/dropdown-menu/item';
  import Icon from '@vue/components/deco/icon';

  export default {
    props: {
      items: {
        type: Array,
        required: true,
      },
      display: {
        type: Boolean,
        defaultValue: false,
      }
    },
    components: {
      'menu-item': MenuItem,
      icon: Icon,
    },
    methods: {
      itemClickHandler(action) {
        this.$emit('action', action);
      },
    },
  };
</script>
