<template>
  <div :class="wrapperClass"
       @click="itemClickHandler">
    <icon v-if="item.icon"
          :type="item.icon"/>

    {{ item.title }}
  </div>
</template>

<script>
  import Icon from '@vue/components/deco/icon';

  export default {
    props: {
      item: {
        type: Object,
        required: true,
      },
    },
    components: {
      icon: Icon,
    },
    computed: {
      wrapperClass() {
        return `context-menu__item ${this.item.title ? 'has-title' : ''}`;
      },
    },
    methods: {
      itemClickHandler() {
        this.$emit('action', this.item.action);
      },
    },
  };
</script>
