<template>
  <div :class="wrapperClass">
    <context-menu v-if="showMenu"
                  :items="menuItems"
                  @action="menuActionHandler"
                  :position="contextMenuPosition"/>

    <template v-if="hasFiles && canShowMessageWrapper">
      <file-resolver v-for="file in files"
                     :key="`message-file-${message.id}-${file.id}`"
                     :embed="file"
                     :message="message"/>
    </template>

    <div class="message-block__message"
         @contextmenu="contextMenuHandler">
      <user-avatar :user="message.user" wrapper-class="small"/>

      <div class="message-block__user-message" >
        <span v-if="reply || canShowMessageWrapper"
              :class="messageTextClass">
          <span v-if="canShowMessageWrapper"
                class="message-block__text">
            <reply v-if="reply"
                   :reply="reply"/>
            <span v-html="content" />
          </span>
          <span v-if="translation"
                v-html="translation"
                class="message-block__translation"/>
        </span>

        <template v-if="isFilesRenderInside">
          <file-resolver v-for="file in files"
                         :key="`message-file-${message.id}-${file.id}`"
                         :embed="file"
                         :message="message"/>
        </template>
      </div>
      <div class="message-block__message-info">
        {{ message.user.nick }},&nbsp;{{ timeAgo }}
      </div>
    </div>
    <img v-for="url in images"
         :src="url"
         :key="url"
         :alt="url" />

    <video v-for="url in media"
       :src="url"
       :key="url"
       controls="controls"
       prefetch="meta" />
  </div>
</template>

<script>
  import Reply from '@vue/components/chat/message/reply';
  import ContextMenu from '@vue/components/chat/message/context-menu/index';
  import FileResolver from '@vue/components/chat/message/embeds/embed-resolver';
  import Icon from '@vue/components/deco/icon';
  import {singleTimeAgo} from '@shared/utils/normalize';
  import Avatar from '@vue/components/user-card/avatar';
  import {
    CONTEXT_MENU_HEADER,
    CONTEXT_MENU_IN_MESSAGE,
  } from '@js/const/content-menu-types';

  const CONTEXT_ACTION_CANCEL = 'CONTEXT_ACTION_CANCEL';
  const CONTEXT_ACTION_REPLY = 'CONTEXT_ACTION_REPLY';
  const CONTEXT_ACTION_EDIT = 'CONTEXT_ACTION_EDIT';
  const CONTEXT_ACTION_REMOVE = 'CONTEXT_ACTION_REMOVE';

  const URL_REGEX_STR = '\\b([hf]t?tps?:\\/\\/)?[a-zA-Z0-9-_]+\\.[a-zA-Z0-9-_\\/.%?=&]+';

  export default {
    props: {
      message: {
        type: Object,
        required: true,
      },
    },
    components: {
      icon: Icon,
      reply: Reply,
      'file-resolver': FileResolver,
      'user-avatar': Avatar,
      'context-menu': ContextMenu,
    },
    data() {
      return {
        timeAgo: '',
        timeSpanUpdateInterval: '',
        contextMenuPosition: {
          x: 0,
          y: 0,
        },
      };
    },
    computed: {
      menuItems() {
        const {getters} = this.$store;
        const currentUser = getters['user/currentUser'];
        const activeMessage = getters['chats/activeMessage'];

        let menu = [
          {
            action: CONTEXT_ACTION_CANCEL,
            icon: 'cancel',
            title: this.$t('cancel'),
          },
          {
            action: CONTEXT_ACTION_REPLY,
            icon: 'reply',
            title: this.$t('reply'),
          },
        ];

        if (activeMessage && currentUser.id === activeMessage.user.id) {
          menu = [
            ...menu,
            {
              action: CONTEXT_ACTION_EDIT,
              icon: 'edit',
              title: this.$t('edit'),
            },
            {
              action: CONTEXT_ACTION_REMOVE,
              icon: 'delete',
              title: this.$t('remove'),
            },
          ];
        }

        return menu;
      },
      showMenu() {
        const {getters} = this.$store;
        const activeMessage = getters['chats/activeMessage'];

        return !!activeMessage &&
          activeMessage.id === this.message.id &&
          getters['chats/contextMenuType'] === CONTEXT_MENU_IN_MESSAGE;
      },
      messageTextClass() {
        const translationClass = this.translation ? 'has-translation' : '';

        return `message-block__text-wrapper ${translationClass}`;
      },
      translation() {
        const {getters, dispatch} = this.$store;
        const activeTranslation = getters['chats/translateActive'];
        if (!activeTranslation) {
          return null;
        }

        const {translation} = getters['chats/translation'](this.message.id) || {};

        if (!translation) {
          dispatch('chats/loadTranslations', {
            ids: [this.message.id],
            locale: activeTranslation,
          });
          return null;
        }

        return `(${translation})`;
      },
      isFilesRenderInside() {
        return !this.canShowMessageWrapper && this.hasFiles;
      },
      canShowMessageWrapper() {
        return this.content.length > 0;
      },
      images() {
        return `${this.message.message}`.match(new RegExp(`${URL_REGEX_STR}\\.(jpe?g|png|svg|webp)\\b`, 'gi'));
      },
      media() {
        return `${this.message.message}`.match(new RegExp(`${URL_REGEX_STR}\\.(mp[34]|webm|ogg|ogv)\\b`, 'gi'));
      },
      content() {
        return `${this.message.message}`
          .replace(new RegExp(`${URL_REGEX_STR}\\b`, 'gi'), (url) => {
            return `<a href="${url}" target="_blank">${url}</a>`;
          });
      },
      wrapperClass() {
        const {getters} = this.$store;
        const {id} = getters['user/currentUser'] || {};
        const activeMsg = getters['chats/activeMessage'];

        const localClass = this.message.user.id === id ? 'local' : '';
        const seenClass = this.message.seen ? 'seen' : '';
        const activeClass = activeMsg && activeMsg.id === this.message.id ? 'active' : '';

        return `message-block ${localClass} ${seenClass} ${activeClass}`;
      },
      reply() {
        return this.message.reply;
      },
      hasFiles() {
        return this.message.files.length > 0;
      },
      files() {
        const files = [];
        const gallery = {
          id: 'gallery-images-' + Date.now(),
          mimeType: 'gallery/images',
          files: [],
        };

        for (const file of this.message.files) {
          if (/^image\//i.test(file.mimeType)) {
            gallery.files.push(file);
          } else {
            files.push(file);
          }
        }

        if (gallery.files.length > 1) {
          files.push(gallery);
        } else if (gallery.files.length > 0) {
          files.push(gallery.files[0]);
        }

        return files;
      },
    },
    methods: {
      menuActionHandler(action) {
        const {dispatch} = this.$store;
        const activeMessage = this.$store.getters['chats/activeMessage'];

        return Promise.resolve().then(() => {
          switch (action) {
            case CONTEXT_ACTION_REPLY:
              return dispatch('chats/setReply', activeMessage);
            case CONTEXT_ACTION_EDIT:
              return dispatch('chats/setEdit', activeMessage);
            case CONTEXT_ACTION_REMOVE:
              return confirm(this.$t('rUSureRemoveMsg')) ? dispatch('chats/remove', {
                id: activeMessage.id,
              }) : null;
          }
        }).then(dispatch('chats/setActiveMessage', null));
      },
      contextMenuHandler(event) {
        event.preventDefault();
        event.stopPropagation();

        const {dispatch, getters} = this.$store;

        if (getters['app/readOnly']) {
          return;
        }

        const chatRect = this.$root.$el.getBoundingClientRect();
        const {top} = this.$el.getBoundingClientRect();

        this.contextMenuPosition = {
          x: event.offsetX,
          y: event.y - top,
          inverse: event.y - chatRect.top > chatRect.height / 2,
        };

        dispatch(
          'chats/setContextMenuType',
          window.innerWidth > 768 ? CONTEXT_MENU_IN_MESSAGE : CONTEXT_MENU_HEADER
        );
        dispatch('chats/setActiveMessage', this.message);
      },
      calculateTimeSpan() {
        const timeSpanStruct = singleTimeAgo(this.message.date);
        const agoText = this.$t(`${timeSpanStruct.measure}Ago`, timeSpanStruct.measure);
        this.timeAgo = `${timeSpanStruct.count} ${agoText}`;
      },
    },
    mounted() {
      this.calculateTimeSpan();

      this.timeSpanUpdateInterval = setInterval(
        this.calculateTimeSpan.bind(this),
        35000
      );
    },
    beforeDestroy() {
      clearInterval(this.timeSpanUpdateInterval);
    },
  };
</script>
