<template>
  <div class="reply-text">
    <div class="reply-text__name">{{ reply.user.nick }}</div>
    <div class="reply-text__text">{{ reply.message }}</div>
  </div>
</template>

<script>
  export default {
    props: {
      reply: {
        type: Object,
        required: true,
      },
    },
  };
</script>
