<template>
  <div class="chater-broadcast-wrapper">
    <perm-panel v-if="isBroadcaster"></perm-panel>
    <div v-if="canViewWatchersCount"
         class="chater-broadcast--watchers-counter">
      {{ $t('watchers') }}: {{ watchersCount }}
    </div>
    <video-widget v-if="canViewVideo"
                  :call="broadcaster">
      <template v-slot:controls>
        <button @click="startBroadcastBtnClickHandler"
                class="video-widget--control close-btn chater-btn">
          {{ startBroadcastBtnText }}
        </button>
      </template>
    </video-widget>
    <local-video v-if="canViewWatchersCount">
      <template v-slot:controls>
        <button @click="startBroadcastBtnClickHandler"
                class="local-video--control chater-btn">
          {{ startBroadcastBtnText }}
        </button>
      </template>
    </local-video>
    <button v-if="canShowStartBroadcastBtn"
            @click="startBroadcastBtnClickHandler"
            class="chater-broadcast--btn">
      {{ startBroadcastBtnText }}
    </button>
    <div v-else
         class="chater-broadcast--waiting">{{ $t('waitingForBroadcaster') }} ...</div>
    <users-in-room :readonly="true"></users-in-room>
  </div>
</template>

<script>
  import RoomUsersList from '@vue/components/room-users-list';
  import VideoWidget from '@vue/components/video-widget';
  import PermissionsStatusPanel from '@vue/components/user-card/devices-status';
  import LocalVideo from '@vue/components/local-video';
  import {mapGetters} from 'vuex';
  import {STATUS_OFFLINE, STATUS_ONLINE} from '@js/const/status';

  export default {
    components: {
      'users-in-room': RoomUsersList,
      'video-widget': VideoWidget,
      'perm-panel': PermissionsStatusPanel,
      'local-video': LocalVideo,
    },
    data() {
      return {
        isActive: false,
      };
    },
    computed: {
      ...mapGetters({
        broadcaster: 'broadcast/broadcaster',
        isBroadcaster: 'broadcast/isBroadcaster',
        status: 'broadcast/status',
      }),
      waitingForBroadcaster() {
        return this.$t('waitingForBroadcaster');
      },
      watchersCount() {
        return Object.keys(this.$store.getters['rtc/connections']).length;
      },
      canViewWatchersCount() {
        return this.status === STATUS_ONLINE && this.isBroadcaster;
      },
      canViewVideo() {
        const broadcaster = this.broadcaster;

        return broadcaster &&
          broadcaster.status === STATUS_ONLINE &&
          this.status === STATUS_ONLINE &&
          !this.isBroadcaster;
      },
      canStartBroadcast() {
        const broadcaster = this.broadcaster;

        return (
          broadcaster &&
          broadcaster.status === STATUS_ONLINE &&
          this.status === STATUS_ONLINE
        ) || (this.isBroadcaster && this.hasMedia);
      },
      startBroadcastBtnText() {
        return this.isBroadcaster
          ? this.status === STATUS_ONLINE
            ? this.$t('stopBroadcast')
            : this.$t('startBroadcast')
          : this.isActive
            ? this.$t('leaveBroadcast')
            : this.$t('joinToBroadcast');
      },
      hasMedia() {
        return this.$store.getters['permissions/hasMedia'];
      },
      canShowStartBroadcastBtn() {
        return this.isBroadcaster && this.status !== STATUS_ONLINE;
      },
    },
    methods: {
      startBroadcastBtnClickHandler() {
        const {getters, dispatch} = this.$store;
        const roomSlug = getters['user/currentUser'].roomSlug;
        const {id} = this.broadcaster;

        if (this.isBroadcaster) {
          dispatch('broadcast/updateStatus', {
            status: this.status === STATUS_OFFLINE ? STATUS_ONLINE : STATUS_OFFLINE,
            roomSlug,
          });
        } else if (this.canStartBroadcast && !this.isActive) {
          dispatch('broadcast/requestOffer', {
            roomSlug,
          });
        } else if (this.isActive && !this.isBroadcaster) {
          dispatch('calls/removeActiveCall', id);
        }

        if (this.isActive && this.isBroadcaster) {
          for (const clientId of Object.keys(getters['rtc/connections'])) {
            dispatch('calls/removeActiveCall', clientId);
          }
        }

        this.isActive = !this.isActive;
      },
    },
    mounted() {
      const {roomSlug} = this.$store.getters['user/currentUser'];
      this.$store.dispatch('broadcast/init', {
        roomSlug,
      });
    },
  };
</script>
