<template>
  <div class="message-window"
       :style="style"
       ref="chat">
    <active-chat-header :dialog="chat"
                        :has-context-menu="hasContextMenu"/>
    <message-list :messages="messages"/>
    <message-form />
  </div>
</template>

<script>
  import MessageList from '@vue/components/chat/messages-list';
  import MessageForm from '@vue/components/chat/message-form';
  import ActiveChatHeader from '@vue/components/dialog-list/active-dialog-header';


  export default {
    props: {
      chat: {
        type: Object,
        required: true,
      },
      wrapperClass: {
        type: String,
      },
      hasContextMenu: {
        type: Boolean,
        defaultValue: false,
      },
    },
    components: {
      'message-list': MessageList,
      'message-form': MessageForm,
      'active-chat-header': ActiveChatHeader,
    },
    data() {
      return {
        style: '',
        resizeTimeout: null,
      };
    },
    computed: {
      messages() {
        return this.$store.getters['chats/messages'];
      },
    },
    methods: {
      calculateStyles() {
        clearTimeout(this.resizeTimeout);
        this.resizeTimeout = setTimeout(() => {
          const rect = this.$root.$el.getBoundingClientRect();
          this.$store.dispatch('app/setChatRect', rect);

          this.style = `height: ${rect.height}px;`;
        }, 350);
      },
    },
    mounted() {
      this.calculateStyles();

      window.addEventListener('resize', this.calculateStyles);
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.calculateStyles);
    },
  };
</script>
