<template>
  <div :class="wrapperClass">
    <div class="chat__dialog-wrapper">
      <div class="chat__search-wrap">
        <label class="chat__search">
          <icon type="search"/>
          <input class="chat__search-input"
                 type="text"
                 title=""
                 :placeholder="$t('chooseInterlocutor')"
                 v-model="filter">
        </label>
      </div>
      <div class="chat__dialog-rooms" ref="list" :style="customStyle">
        <lazy-load-trigger v-if="canShowLazyLoadTrigger"
                           :loading="loading"
                           :root="$refs.list"
                           @markIntersected="scrollMarkListIntersectHandler"/>

        <dialog-item v-for="dialog in list"
                     :key="dialog.id | id"
                     :dialog="dialog"/>
      </div>
    </div>

    <chat v-if="activeChat"
          :has-context-menu="true"
          :chat="activeChat"/>

    <div class="chat__default-window" v-else>
      <div v-if="isEmptyDialogs"
           class="chat__title">{{ $t('noMessages') }}</div>
      <div class="chat__subtitle">{{ $t('letsStartChat') }}</div>

      <splash />
    </div>
  </div>
</template>

<script>
  import Chat from '@vue/components/panels/chat';
  import DialogItem from '@vue/components/dialog-list/item';
  import LazyLoadTrigger from '@vue/components/loading/lazy-loader-trigger';
  import Icon from '@vue/components/deco/icon';
  import Splash from '@vue/components/deco/splash';
  import {TYPE_ANONYMOUS_CHAT} from '@shared/const/room-types';

  export default {
    components: {
      icon: Icon,
      chat: Chat,
      splash: Splash,
      'dialog-item': DialogItem,
      'lazy-load-trigger': LazyLoadTrigger,
    },
    data() {
      return {
        filter: '',
        init: false,
        mobileMenuOpen: false,
        resizeTimeout: null,
        customStyle: ''
      };
    },
    computed: {
      isEmptyDialogs() {
        return this.$store.getters['dialogs/dialogs'].length === 0;
      },
      wrapperClass() {
        const showMobileChat = this.$store.getters['app/showMobileChat'];

        return `chat ${showMobileChat ? 'active' : ''}`;
      },
      canShowLazyLoadTrigger() {
        return this.init && this.$store.getters['dialogs/lastLoadedCount'] !== 0;
      },
      loading() {
        return this.$store.getters['dialogs/loading'];
      },
      list() {
        const list = [...this.$store.getters['dialogs/dialogs']];
        if (this.filter.length < 1) {
          return list;
        }

        return list.filter(({title, id, type, stats}) => {
          // @TODO: maybe for future
          const members = (stats.members || []);
          if (type !== TYPE_ANONYMOUS_CHAT && members.length > 0) {
            title = members.reduce((names, {nick}) => {
              return `${names} ${nick}`;
            }, '');
          }

          return title.trim().toLowerCase().indexOf(`${this.filter}`.toLowerCase()) > -1;
        });
      },
      activeChat() {
        return this.$store.getters['dialogs/activeChat'];
      },
    },
    methods: {
      scrollMarkListIntersectHandler() {
        if (this.loading) {
          return;
        }

        const {dispatch} = this.$store;

        dispatch('dialogs/getDialogs', {
          offset: this.$store.getters['dialogs/dialogs'].length,
        });
      },
      calculateListHeight() {
        clearTimeout(this.resizeTimeout);

        this.resizeTimeout = setTimeout(() => {
          const {height} = this.$root.$el.getBoundingClientRect();
          this.customStyle = `height: ${height - 73}px`;
        }, 350);
      }
    },
    filters: {
      id(value) {
        return `dialog-${value}`;
      },
    },
    mounted() {
      this.init = true;
      setTimeout(() => this.calculateListHeight(), 500);
      window.addEventListener('resize', this.calculateListHeight);
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.calculateListHeight);
    }
  };
</script>
