<template>
  <div class="message-window read-messages"
       :style="style"
       ref="chat">
    <message-list v-if="messages && messages.length > 0"
                  :messages="messages"/>
  </div>
</template>

<script>
  import MessageList from '@vue/components/chat/messages-list';

  export default {
    components: {
      'message-list': MessageList,
    },
    data() {
      return {
        style: '',
        resizeTimeout: null,
      };
    },
    computed: {
      messages() {
        return this.$store.getters['chats/messages'];
      },
    },
    methods: {
      calculateStyles() {
        clearTimeout(this.resizeTimeout);
        this.resizeTimeout = setTimeout(() => {
          const {height} = this.$root.$el.getBoundingClientRect();
          this.style = `height: ${height}px;`;
        }, 350);
      },
    },
    mounted() {
      this.calculateStyles();

      this.$store.dispatch('app/setReadOnly', true);
      window.addEventListener('resize', this.calculateStyles);
    },
    beforeDestroy() {
      window.removeEventListener('resize', this.calculateStyles);
    },
  };
</script>
