<template>
    <div :class="wrapperClass"
         ref="wrapper">
      <div class="chater-video--status">
        <icon-btn v-if="isFullScreen"
                  @click.native="backBtnClickHandler"
                  class-name="chater-btn--activate-btn"
                  icon="arrow_back"/>

        <network-status />

        <perm-panel/>
      </div>


      <master-slider v-if="canShowCalls"
                     :items="activeCalls"/>
      <master-frame v-if="masterFrame"/>
      <notification-list />
      <users-in-room/>


      <media-controls-panel/>

      <audio v-if="hasIncoming"
             :src="incomingSoundUrl"
             autoplay />

      <audio v-if="hasOutgoing"
             :src="outgoingSoundUrl"
             autoplay />

    </div>
</template>

<script>
  import IconBtn from '@vue/components/deco/icon-btn';
  import NotificationList from '@vue/components/notification/list';
  import RoomUsersList from '@vue/components/room-users-list';
  import MediaControlsPanel from '@vue/components/media-controls-panel';
  import PermissionsStatusPanel from '@vue/components/user-card/devices-status';
  import MasterSlider from '@vue/components/master-slider';
  import MasterSliderMaster from '@vue/components/master-slider/master';
  import NetworkStatus from '@vue/components/deco/network-status';
  import {getSubObject, objectLength} from '@js/util/etc';
  import {exitFullScreen, requestFullScreen} from '@js/util/full-screan';
  import {TYPE_CALL} from '@shared/const/room-types';
  import audioService from '@js/services/audio';

  let incomingCallCancelWatcher = null;
  let outgoingCallCancelWatcher = null;

  export default {
    components: {
      'users-in-room': RoomUsersList,
      'perm-panel': PermissionsStatusPanel,
      'media-controls-panel': MediaControlsPanel,
      'master-slider': MasterSlider,
      'master-frame': MasterSliderMaster,
      'icon-btn': IconBtn,
      'notification-list': NotificationList,
      'network-status': NetworkStatus,
    },
    data() {
      return {
        recordingStarted: false,
        userListActive: false,
        camEnabled: true,
        micEnabled: true,
        incomingSoundUrl: audioService.incomingUrl,
        outgoingSoundUrl: audioService.outgoingUrl,
        hasIncoming: false,
        hasOutgoing: false,
      };
    },
    computed: {
      wrapperClass() {
        return `chater-wrapper ${this.isFullScreen ? 'full-screen' : ''}`;
      },
      activeCalls() {
        const {getters} = this.$store;
        const streams = getters['rtc/streams'];
        const rawCalls = Object.values(getSubObject(
            getters['roomUsersList/usersObject'],
            getters['calls/activeCalls']
        ));
        const callsCount = rawCalls.length;

        let calls = callsCount > 1 ? rawCalls
          .map(({id, nick}) => {
            return {
              id,
              nick,
              stream: streams[id],
              canMute: true,
            };
          }) : [];

        if (callsCount > 0) {
          calls.push({
            id: 'local',
            nick: '',
            stream: this.$userMedia.getStream(),
            canMute: false,
            muted: true,
          });
        }

        return calls;
      },
      masterFrame() {
        return this.$store.getters['app/masterFrame'];
      },
      isFullScreen() {
        return this.$store.getters['app/fullScreen'];
      },
      canShowCalls() {
        return objectLength(this.$store.getters['calls/activeCalls']) > 0;
      },

    },
    methods: {
      backBtnClickHandler() {
        exitFullScreen();
        this.$store.dispatch('app/setFullScreen', false);
      },
      addCallListeners() {
        incomingCallCancelWatcher = this.$store.watch(
          () => this.$store.getters['calls/incomingCalls'],
          (calls) => {
            this.hasIncoming = Object.keys(calls).length > 0;
          },
        );

        outgoingCallCancelWatcher = this.$store.watch(
          () => this.$store.getters['calls/outgoingCalls'],
          (calls) => {
            this.hasOutgoing = Object.keys(calls).length > 0;
          },
        );
      },
    },
    mounted() {
      const {dispatch, getters} = this.$store;
      dispatch('permissions/initPermissionsService');

      this.addCallListeners();

      this.$store.watch(
            () => getters['app/fullScreen'],
            (fullScreen) => {
              if (fullScreen) {
                requestFullScreen(this.$refs.wrapper);
              } else {
                exitFullScreen();
              }
            },
        );

      (new Promise((resolve) => {
        this.$store.watch(
            () => getters['user/currentUser'],
            (currentUser) => {
              if (currentUser) {
                dispatch('rtc/createPeer', {
                  currentUser,
                });
              }

              if (currentUser.chatSlug) {
                resolve({
                  roomSlug: currentUser.roomSlug,
                });
              }
            },
        );
      })).then(({roomSlug}) => {
        const payload = {
          type: TYPE_CALL,
          slug: roomSlug,
        };

        this.$store.watch(
            () => getters['calls/activeCalls'],
            (newVal) => {
              if (newVal.length > 0 && !this.recordingStarted) {
                dispatch('record/start', payload);
                this.recordingStarted = true;
              } else if (newVal.length < 1 && this.recordingStarted) {
                dispatch('record/stop', payload);
                this.recordingStarted = false;
              }
            },
        );
      });

    },
  };
</script>
