.chater-dialog-cp
  max-width: 441px
  width: 100%

  &--title
    margin: 0 0 5px 0
    font-size: var(--ic-sz-def)

  &--type
    font-size: var(--chat-small)
    margin-bottom: 20px

  &--invite
    margin: 0 0 20px 0

    .invite-form--input
      padding: 18px 20px
      border: 1px solid var(--br-chat)
      border-radius: 4px
      color: var(--bg-black)

  &--field
    margin-bottom: 20px
    display: grid
    grid-template-columns: auto min-content
    grid-template-rows: auto auto

    &-title
      margin-bottom: 5px
      grid-row: 1/2
      grid-column: 1/2
      padding-right: 10px

    &-desc
      grid-row: 2/3
      grid-column: 1/2
      justify-self: stretch
      padding-right: 10px
      font-size: var(--chat-small)
      color: var(--icons-silver)

    &-control
      grid-row: 1/3
      grid-column: 2/3
      align-self: start
      justify-self: center

  &--user-list

    .user-card
      border: 1px solid var(--br-user-card)
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0)

      &--actions
        opacity: 0
        transition: opacity var(--transition-duration) var(--transition-timing-function)

      &:hover
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .15)

        .user-card--actions
          opacity: 1
