.invite-form
  display: flex
  grid-row: 1/3
  grid-column: 2/4
  align-self: stretch
  margin: 0 30px
  position: relative

  &--input
    width: 100%
    padding: 0 var(--icon-size-S)
    border: 1px solid var(--br-search-input)
    border-radius: 20px
    font-size: var(--chat-small)


  &--empty,
  &--list
    position: absolute
    padding: 0
    top: calc(100% + 5px)
    background-color: var(--bg-white)
    border-radius: 4px
    border: 1px solid var(--br-chat)
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1)
    z-index: 1
    width: 100%

  &--empty
    padding: 10px
    font-size: var(--chat-small)
    color: var(--icons-silver)
    text-align: center

  &--candidate
    cursor: pointer
    background-color: transparent
    transition: background-color var(--transition-duration) var(--transition-timing-function)

    &:hover
      background-color: var(--bg-search)
