.chater-context-menu
  position: absolute
  display: flex
  flex-direction: column
  background-color: var(--bg-white)
  border-radius: 7px
  box-shadow: 0 0 6px 0 rgba(0,0,0,.1)
  z-index: 1

  .context-menu__item
    display: flex
    justify-content: flex-start
    align-items: center
    padding: 15px 25px
    cursor: pointer
    background-color: transparent
    transition: background-color var(--transition-duration) var(--transition-timing-function)
    font-size: var(--chat-small)
    color: var(--icons-silver)

    &:hover
      background-color: var(--bg-search)

    &.has-title
      .material-icons-outlined
        margin-right: 10px
