.message-block
  padding: 5px
  position: relative

  &:not(:last-child)
    margin-bottom: 30px

  &.active
    background-color: var(--bg-search)

  $mb: &
  &__message-info
    grid-row: 2/3
    grid-column: 2/3
    display: flex
    font-size: 12px
    color: lighten(#000, 60%)
  &__file-list
    min-width: 0
    display: flex
    flex-wrap: wrap
    flex-direction: row-reverse
    margin-bottom: 15px

    audio
      min-width: 230px

    .image-gallery
      &__wrapper
        display: flex
        align-items: center
        cursor: pointer

      &__number
        border: 1px solid #000
        padding: 10px
        border-radius: 5px
        margin-right: 10px

      &__item
        width: 100px
        height: 60px
        display: flex
        justify-content: center
        align-items: center

        &:not(:last-child)
          margin-right: 10px

        img
          max-height: 100%
          max-width: 100%

      &__add-images
        display: flex
        flex-wrap: wrap

  &__text,
  &__translation
    padding: 10px 20px
    background-color: var(--bg-search)

  &__text
    border-radius: 10px 10px 0 10px

  &__translation
    font-style: italic
    font-size: var(--chat-extra-small)
    border-radius: 0 0 10px 0

    .local &
      border-radius: 0 0 0 10px

  &__text-wrapper
    overflow: hidden
    text-overflow: ellipsis
    display: flex
    flex-wrap: wrap
    flex-direction: column

    &.has-translation
      & .message-block__text
        margin-bottom: 2px
        border-radius: 10px 10px 0 0


    .reply-text
      border-left: 4px solid var(--bg-green)
      padding-left: 10px
      min-width: 0
      margin-bottom: 15px

      &__name
        color: var(--icons-silver)
        font-size: var(--chat-extra-small)
        margin-bottom: 5px

      &__text
        text-overflow: ellipsis
        overflow: hidden

    &:empty
      display: none

  &__user-message
    grid-column: 2/3
    grid-row: 1/2
    display: inline-flex
    flex-wrap: wrap
    min-width: 0

  &__message
    display: grid
    grid-template-rows: 1fr 20px
    grid-template-columns: 50px 1fr 60px
    .user-card--avatar.small
      grid-row: 1/2
      margin-top: auto

  &.local
    #{$mb}__message
      display: grid
      grid-template-rows: 1fr 20px
      grid-template-columns: 60px 1fr 50px
      .user-card--avatar.small
        grid-column: 3/4

    #{$mb}__user-message
      justify-content: flex-end

    #{$mb}__message-info
      justify-content: flex-end

.generic-file
  display: grid
  border: 1px solid var(--br-search-input)
  border-radius: 6px
  grid-template-rows: 1fr 1fr
  grid-template-columns: 2fr 1fr 50px
  padding: 15px 0 15px 15px
  position: relative

  &__title
    grid-row: 1/2
    grid-column: 1/3
    margin-bottom: 5px

  &__type
    grid-row: 2/3
    grid-column: 1/2
    justify-self: start
    font-style: italic
    font-size: var(--chat-extra-small)
    color: var(--icons-silver)

  &__size
    grid-row: 2/3
    grid-column: 2/3
    justify-self: end
    font-style: italic
    font-size: var(--chat-extra-small)
    color: var(--icons-silver)

  &__download
    grid-row: 1/3
    grid-column: 3/4
    justify-self: center
    align-self: center
    border-radius: 50%
    color: var(--br-search-input)
    cursor: pointer

  &__hint
    position: absolute
    overflow-wrap: break-word
    max-width: 100%
    background: var(--bg-white)
    z-index: 1
    transform: translateY(-50%)
    opacity: 0
    transition: transform var(--transition-duration) var(--transition-timing-function), opacity var(--transition-duration) var(--transition-timing-function)
    border-radius: 7px
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1)
    font-size: var(--chat-extra-small)
    color: var(--icons-silver)
    padding: 10px
    margin-top: 5px

  &:hover &__hint
      transform: translateY(0)
      opacity: 1
