<template>
  <div :class="wrapperClass">
    <input type="text"
           class="invite-form--input"
           :title="$t('inviteTitle')"
           :placeholder="$t('inviteTitle')"
           v-model="query"
           @input="inputInputHandler">
    <div v-if="candidates.length > 0"
        class="invite-form--list">
      <user-card v-for="user in candidates"
                 :user="user"
                 :show-status="false"
                 :show-meta="true"
                 wrapper-class="has-click chat-member invite-form--candidate"
                 @click.native="itemClickHandler(user)"
                 :key="`candidate-${user.id}`" >
        <template slot="status">
          {{ user.position }}
        </template>
      </user-card>
    </div>
    <div v-else-if="canShowEmpty"
         class="invite-form--empty">
      {{ $t('nothingFound') }}
    </div>
  </div>
</template>

<script>
  import UserCard from '@vue/components/user-card';

  export default {
    components: {
      'user-card': UserCard,
    },
    props: {
      className: {
        type: String,
        defaultValue: ''
      },
    },
    data() {
      return {
        autocompleteDebounceTimeout: null,
        loadingDebounceTimeout: null,
        loading: false,
        query: '',
      };
    },
    computed: {
      canShowEmpty() {
        return this.query.length > 0 && !this.loading && this.candidates.length === 0;
      },
      wrapperClass() {
        const loadingClass = this.loading ? 'loading' : '';

        return `invite-form ${this.className} ${loadingClass} `;
      },
      candidates() {
        return this.$store.getters['dialogs/usersToInvite'];
      },
    },
    methods: {
      inputInputHandler() {
        const {dispatch} = this.$store;
        const value = `${this.query}`.trim();
        dispatch('dialogs/setUsersToInvite', []);
        this.loading = true;

        if (value.length < 2) {
          return;
        }

        clearTimeout(this.autocompleteDebounceTimeout);
        this.autocompleteDebounceTimeout = setTimeout(() => {

          dispatch('dialogs/findUsersToInvite', {
            query: value,
          });
        }, 450);
      },
      itemClickHandler({id}) {
        this.query = '';
        const {dispatch} = this.$store;

        this.loading = false;
        dispatch('dialogs/setUsersToInvite', []);
        dispatch('dialogs/invite', {
          id,
        })
      },
    },
    updated() {
      clearTimeout(this.loadingDebounceTimeout);
      this.loadingDebounceTimeout = setTimeout(() => {
        this.loading = false;

        if (this.query.length < 1) {
          this.$store.dispatch('dialogs/setUsersToInvite', []);
        }
      }, 500);
    },
  };
</script>
