<template>
  <div class="chater-gallery-slider">
    <div class="chater-gallery-slider__preview">
      <img :src="$store.getters['files/loaded'][preview.id]"
           :alt="preview.name">
    </div>

    <icon-btn icon="chevron_left"
              :class-name="prevBtnClass"
              @click.native="prevBtnClickHandler"/>
    <icon-btn icon="chevron_right"
              :class-name="nextBtnClass"
              @click.native="nextBtnClickHandler"/>

    <div class="chater-gallery-slider__slides">
      <img v-for="image, index in images"
           :src="$store.getters['files/loaded'][image.id]"
           :alt="image.name"
           @click="slideClickHandler(index)"
           :key="`slide-preview-${image.id}`"
           :class="`chater-gallery-slider__slide ${image.id === preview.id ? 'active' : ''}`">
    </div>
  </div>
</template>

<script>
  import IconBtn from '@vue/components/deco/icon-btn';

  export default {
    props: {
      images: {
        type: Array
      },
    },
    components: {
      'icon-btn': IconBtn,
    },
    data() {
      return {
        activeIndex: 0,
      };
    },
    computed: {
      preview() {
        return this.images[this.activeIndex] || {
          id: 0,
          name: '',
        };
      },
      prevBtnClass() {
        return `has-click chater-gallery-slider__prev-btn ${this.activeIndex < 1 ? 'disabled' : ''}`;
      },
      nextBtnClass() {
        return `has-click chater-gallery-slider__next-btn ${this.activeIndex > this.images.length - 2 ? 'disabled' : ''}`;
      },
    },
    methods: {
      prevBtnClickHandler() {
        if (this.activeIndex > 0) {
          this.activeIndex--;
        }
      },
      nextBtnClickHandler() {
        if (this.activeIndex < this.images.length - 1) {
          this.activeIndex++;
        }
      },
      slideClickHandler(index) {
        this.activeIndex = index;
      }
    },
  };
</script>
