<template>
  <div class="chater-master-slider">
    <button v-if="canShowButtons"
            class="chater-btn chater-btn--slider-btn"
            @click="slideUpClickHandler">
      <i class="material-icons-outlined">keyboard_arrow_up</i>
    </button>
    <div class="chater-master-slider--list">

      <slider-item v-for="call in items"
                   :call="call"
                   :canMute="call.canMute"
                   :muted="call.muted"
                   :key="call.id"></slider-item>

    </div>
    <button v-if="canShowButtons"
            class="chater-btn chater-btn--slider-btn"
            @click="slideDownClickHandler">
      <i class="material-icons-outlined">keyboard_arrow_down</i>
    </button>

  </div>
</template>

<script>
  import SliderItem from '@vue/components/master-slider/item';
  import {getSubObject, objectLength} from '@js/util/etc';

  export default {
    components: {
      'slider-item': SliderItem,
    },
    props: {
      items: {
        type: Array,
        default: [],
      }
    },
    computed: {
      canShowButtons() {
        return this.items.length > 2;
      },
    },
    methods: {
      slideUpClickHandler() {
        const item = this.items.shift();
        this.items.push(item);
        this.forceUpdateItems();
      },
      slideDownClickHandler() {
        const item = this.items.pop();
        this.items.unshift(item);
        this.forceUpdateItems();
      },
      forceUpdateItems() {
        this.items = [... this.items];
      },
    },
  };
</script>
