<template>
  <div class="chater-master-slider--item"
      @click="itemClickHandler"
      :data-id="call.id">
    <video v-if="mediaStream"
          :srcObject.prop="mediaStream"
          :muted.prop="isMuted"
          autoplay></video>
    <div v-if="call.nick"
         class="chater-master-slider--username">
      {{ call.nick }}
    </div>
    <button v-if="canMute"
            @click="muteBtnClickHandler"
            class="chater-btn chater-btn--user-btn material-icons-outlined">{{ muteBtnIcon }}</button>
  </div>
</template>

<script>
  export default {
    props: {
      canMute: {
        type: Boolean,
        default: true,
      },
      muted: {
        type: Boolean,
        default: false,
      },
      call: {
        type: Object,
        required: true,
      },
    },
    data() {
      return {
        isMuted: this.muted,
        stream: null,
      };
    },
    computed: {
      muteBtnIcon() {
        return this.isMuted ? 'volume_off' : 'volume_up';
      },
      mediaStream() {
        if (this.call.stream instanceof Promise) {
          this.call.stream
          .then((stream) => {
            this.stream = stream;
          });

          return this.stream;
        }

        return this.call.stream;
      },
    },
    methods: {
      muteBtnClickHandler() {
        this.isMuted = !this.isMuted;
      },
      itemClickHandler() {
        if (this.$store.getters['calls/activeCalls'].length > 1) {
          this.$store.dispatch('app/setMasterFrame', {
            id: this.call.id,
            stream: this.call.stream,
          });
        }
      },
    },
  };
</script>
