<template>
  <video v-if="call && mediaStream"
         :class="videoClass"
         :srcObject.prop="mediaStream"
         autoplay
         :muted.prop="muted"></video>
</template>

<script>
  import {STATUS_ONLINE} from '@js/const/status';

  export default {
    data() {
      return {
        stream: null
      };
    },
    computed: {
      videoClass() {
        const {id} = this.$store.getters['app/masterFrame'];

        return `chater-master-slider--master master-${id}`;
      },
      call() {
        const {getters} = this.$store;
        const {id} = getters['app/masterFrame'];
        const call = getters['roomUsersList/usersObject'][id] || {};
        if (call.status !== STATUS_ONLINE && id !== 'local') {
          return null;
        }

        return call;
      },
      muted() {
        return !!this.$store.getters['app/masterFrame'].muted;
      },
      mediaStream() {
        const {stream} = this.$store.getters['app/masterFrame'];
        if (stream instanceof Promise) {
          stream.then((resolvedStream) => {
            this.stream = resolvedStream;
          });

          return this.stream;
        }

        return stream;
      },
    },
  };
</script>
