<template>
  <div>
    <div v-show="!loading"
         ref="mark"></div>
    <preloader v-if="loading"/>
  </div>
</template>

<script>
  import Preloader from '@vue/components/loading/preloader';

  export default {
    props: {
      loading: {
        type: Boolean,
        required: true,
      },
      root: {
        type: Element,
        required: true,
      },
    },
    components: {
      preloader: Preloader,
    },
    data() {
      return {
        intersectionObserver: null,
        throttleTime: null,
      };
    },
    methods: {
      markIntersectedHandler(elements) {
        for (const element of elements) {
          if (!element.isIntersecting) {
            return;
          }
        }

        const now = Date.now();
        if (now - this.throttleTime < 300) {
          return;
        }

        this.throttleTime = now;
        this.$emit('markIntersected', this);
      },
    },
    mounted() {
      if (this.intersectionObserver) {
        return;
      }

      this.intersectionObserver = new IntersectionObserver(
        this.markIntersectedHandler,
        {
          root: this.root,
          rootMargin: '0px',
          threshold: 1,
        }
      );
      this.intersectionObserver.observe(this.$refs.mark);
    },
    beforeDestroy() {
      if (!this.intersectionObserver) {
        return;
      }

      this.intersectionObserver.disconnect();
      this.intersectionObserver = null;
    },
  };
</script>
