.chater-grid
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: auto
  grid-gap: 5px

  .item
    justify-self: stretch
    align-self: stretch

    &:nth-child(2n),
    &:nth-child(2n + 1):last-child
      grid-column: auto

    &:first-child,
    &:first-child:last-child,
    &:first-child + .item:last-child,
    &:nth-child(2n):last-child
      grid-column: 1/3

    @media (min-width: var(--md))
      &:first-child,
      &:first-child + .item:last-child,
      &:nth-child(2n):last-child
        grid-column: auto

      &:first-child:last-child,
      &:nth-child(2n + 1):last-child
        grid-column: 1/3
