<template>
  <div :class="wrapperClass">
    <div class="chater-user-list--wrap-btn">
      <button @click="toggleUserListBtnClickHandler"
        class="chater-btn chater-btn--activate-btn">
        <i class="material-icons-outlined">people_alt</i>
        <span> ({{ users | objectLength}})</span>
      </button>
      <button @click="toggleChatBtnClickHandler"
              class="chater-btn chater-btn--activate-btn has-chater-badge">
        <i class="material-icons-outlined">chat</i>
        <span class="chater-badge" v-if="unreadMessages > 0">{{ messagesCounter }}</span>
      </button>
      <button @click="toggleFullScreenBtnClickHandler"
              class="chater-btn chater-btn--activate-btn">
        <i class="material-icons-outlined">{{ fullScreenIcon }}</i>
      </button>
    </div>
    <div v-if="canShowUserList"
         class="chater-user-list--header">
      {{ $t('usersInRoom') }}
    </div>
    <div class="chater-user-list--content">
      <chat v-if="canShowChat"
            :chat="chat"/>

      <div v-if="canShowUserList"
           class="chater-user-list--items">
        <item v-for="user in users"
              :key="user.id"
              :user="user"
              :readonly="readonly"/>
      </div>
    </div>
  </div>
</template>

<script>
  import Item from '@vue/components/room-users-list/item';
  import Chat from '@vue/components/panels/chat';
  import {objectLength} from '@js/util/etc';

  const DRAWER_COMPONENT_USER_LIST = 'user-list';
  const DRAWER_COMPONENT_CHAT = 'chat';

  export default {
    data() {
      return {
        drawerActive: false,
        drawerComponent: '',
        unreadMessages: 0,
      };
    },
    components: {
      item: Item,
      chat: Chat,
    },
    props: {
      readonly: {
        type: Boolean,
        default: false,
      },
    },
    computed: {
      messagesCounter() {
        return this.unreadMessages > 9 ? '9+' : `${this.unreadMessages}`;
      },
      chat() {
        return this.$store.getters['dialogs/activeChat'];
      },
      canShowChat() {
        return this.drawerComponent === DRAWER_COMPONENT_CHAT;
      },
      canShowUserList() {
        return this.drawerComponent === DRAWER_COMPONENT_USER_LIST;
      },
      wrapperClass() {
        return this.drawerActive ? 'chater-user-list active' : 'chater-user-list';
      },
      users() {
        return [...this.$store.getters['roomUsersList/users']];
      },
      isFullScreen() {
        return this.$store.getters['app/fullScreen'];
      },
      fullScreenIcon() {
        return this.isFullScreen ? 'fullscreen_exit' : 'fullscreen';
      },
    },
    filters: {
      objectLength,
    },
    methods: {
      toggleUserListBtnClickHandler() {
        const prevComponent = this.drawerComponent;
        this.drawerComponent = DRAWER_COMPONENT_USER_LIST;
        if (this.drawerActive && prevComponent !== DRAWER_COMPONENT_USER_LIST) {
          return;
        }

        this.toggleDrawer();
      },
      toggleChatBtnClickHandler() {
        const prevComponent = this.drawerComponent;
        this.drawerComponent = DRAWER_COMPONENT_CHAT;
        this.unreadMessages = 0;
        if (this.drawerActive && prevComponent !== DRAWER_COMPONENT_CHAT) {
          return;
        }

        this.toggleDrawer();
      },
      toggleDrawer() {
        this.drawerActive = !this.drawerActive;
      },
      toggleFullScreenBtnClickHandler() {
        this.$store.dispatch('app/setFullScreen', !this.isFullScreen);
      },
      newMessageHandler({isCurrentChat}) {
        if ((!this.drawerActive || !this.canShowChat) && isCurrentChat) {
          this.unreadMessages++;
        }
      },
    },
    mounted() {
      const {roomSlug} = this.$store.getters['user/currentUser'];
      this.$store.dispatch('roomUsersList/loadUsers', {roomSlug});

      this.$eventBus.subscribe('chats/addMessage', this.newMessageHandler);
    },
  };
</script>
