<template>
  <user-card :user="user"
             :show-status="!readonly"
             :wrapper-class="'chater-user-list--item'">
  </user-card>
</template>

<script>
  import UserCard from '../user-card';
  import {STATUS_ONLINE} from '@js/const/status';

  export default {
    props: {
      user: Object,
      readonly: Boolean,
    },
    components: {
      'user-card': UserCard,
    },
  };
</script>
