.invite-request
  display: grid
  grid-template-rows: auto auto
  grid-template-columns: auto min-content
  grid-column-gap: 15px

  &--title
    grid-row: 1/2
    grid-column: 1/2

  &--text
    grid-row: 2/3
    grid-column: 1/2

  &--action
    grid-row: 1/3
    grid-column: 2/3
    justify-self: center
    align-self: center
