.chater-notification
  background-color: var(--bg-white)
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1)
  border-radius: 8px
  padding: 20px
  cursor: pointer
  min-width: 250px
  width: 100%
  display: grid
  grid-template-columns: auto
  grid-template-rows: auto auto

  &--title
    grid-column: 1/2
    grid-row: 1/2

  &--body
    grid-column: 1/2
    grid-row: 2/3

  &.success
    border: 1px solid var(--bg-green)

    .chater-notification--icon
      i
        color: var(--bg-green)

  &.danger
    border: 1px solid var(--bg-red)

    .chater-notification--icon
      i
        color: var(--bg-red)

  &.has-icon
    grid-template-columns: 30px auto
    grid-template-rows: auto auto
    grid-column-gap: 10px

    .chater-notification--icon
      grid-column: 1/2
      grid-row: 1/3
      align-self: center
      justify-self: center

      i
        font-size: var(--ic-sz-def)

    .chater-notification--title
      grid-column: 2/3

    .chater-notification--body
      grid-column: 2/3

  &:not(:last-child)
    margin-bottom: 10px

  &--wrapper
    position: fixed
    top: 10px
    right: 10px
    display: flex
    flex-direction: column
    z-index: 4
    width: 100%
    max-width: calc(100% - 20px)

    @media (min-width: $md)
      width: 380px

    &:empty
      display: none


@import "invite-request"
