<template>
  <div :class="wrapperClass"
       @click="clickHandler">
    <video class="local-video--video"
           v-if="stream"
           :srcObject.prop="stream"
           autoplay
           muted></video>
    <slot name="controls"></slot>
  </div>
</template>

<script>
  export default {
    props: {
      itemClass: {
        type: String,
        default: '',
      },
      call: Object,
      clickHandler: Function,
    },
    data() {
      return {
        stream: null,
      };
    },
    computed: {
      wrapperClass() {
        return `local-video ${this.itemClass}`
      },
    },
    mounted() {
      this.$userMedia.getStream().then((stream) => {
        this.stream = stream;
      });
    },
    beforeDestroy() {
      this.stream = null;
      this.$userMedia.release();
    }
  };
</script>
