<template>
  <div class="chater-notification">
    <user-card :user="call"
               :title-suffix="$t('incomingCallFrom')"
               :wrapperClass="'user-card__calling '">
      <template v-slot:actions>
        <button @click="acceptBtnClickHandler"
                class="chater-btn chater-btn--video-conf-btn green">
          <i class="material-icons-outlined">phone</i>
        </button>
        <button @click="declineBtnClickHandler"
                class="chater-btn chater-btn--video-conf-btn red">
          <i class="material-icons-outlined">phone</i>
        </button>
      </template>
    </user-card>
  </div>
</template>

<script>
  import UserCard from '../user-card';

  export default {
    props: {
      call: Object,
    },
    components: {
      'user-card': UserCard,
    },
    methods: {
      acceptBtnClickHandler() {
        this.$store.dispatch('calls/moveIncomingToActive', this.call.id);
      },
      declineBtnClickHandler() {
        this.$store.dispatch('calls/decline', this.call.id);
      },
    },
  };
</script>
