<template>
  <div class="chater-notification invite-request"
       @click="requestClickHandler">
    <b class="invite-request--title">{{ $t('noAvailableUsersForCall') }}</b>
    <div class="invite-request--text">{{ $t('wantToSendJoinNotification') }}</div>
    <icon-btn icon="check"
              @click.native="acceptBtnClickHandler"
              class-name="invite-request--action has-click chater-btn-circle green"/>
  </div>
</template>

<script>
  import IconBtn from '@vue/components/deco/icon-btn';
  import {prevent} from '@js/util/event';

  export default {
    components: {
      'icon-btn': IconBtn,
    },
    methods: {
      acceptBtnClickHandler() {
        this.$store.dispatch('roomUsersList/sendInviteNotification');
      },
      requestClickHandler() {
        this.$store.dispatch('roomUsersList/setLastInviteNotificationTime', Date.now());
      },
    },
  };
</script>
