<template>
  <div class="chater-notification--wrapper">
    <outgoing-call v-for="call in outgoingCalls"
               :key="call.id"
               :call="call" />

    <incoming-call v-for="call in incomingCalls"
                   :key="call.id"
                   :call="call" />

    <invite-request v-if="canShowInviteRequest" />
  </div>
</template>

<script>
  import OutgoingCall from '@vue/components/notification/outgoing-call';
  import IncomingCall from '@vue/components/notification/incoming-call';
  import InviteRequest from '@vue/components/notification/invite-request';
  import {getSubObject} from '@js/util/etc';

  export default {
    components: {
      'outgoing-call': OutgoingCall,
      'incoming-call': IncomingCall,
      'invite-request': InviteRequest,
    },
    computed: {
      outgoingCalls() {
        const {getters} = this.$store;

        return getSubObject(
          getters['roomUsersList/usersObject'],
          Object.values(getters['calls/outgoingCalls'])
        );
      },
      incomingCalls() {
        const {getters} = this.$store;

        return getSubObject(
          getters['roomUsersList/usersObject'],
          getters['calls/incomingCalls'],
        );
      },
      canShowInviteRequest() {
        const lastRequestTime = this.$store.getters['roomUsersList/lastInviteNotificationTime'];

        return Date.now() - lastRequestTime > 600 && this.$store.getters['roomUsersList/onlineUsersWithoutPeer'].length > 0;
      },
    },
  };
</script>
