<template>
  <div class="chater-notification">
    <user-card :user="call"
               :title-prefix="$t('outgoingCallTo')"
               :wrapperClass="'user-card__calling user-card__calling-master'">
      <template v-slot:status>
        <countdown :seconds="secsToDecline" />
      </template>

      <template v-slot:actions>
        <button @click="declineBtnClickHandler"
                class="chater-btn chater-btn--video-conf-btn red">
          <i class="material-icons-outlined">phone</i>
        </button>
      </template>

    </user-card>
  </div>

</template>

<script>
  import UserCard from '../user-card';
  import CountDown from '../deco/countdown';

  export default {
    props: {
      call: Object,
    },
    components: {
      'user-card': UserCard,
      'countdown': CountDown,
    },
    data() {
      return {
        date: new Date(),
        timeout: null,
        secsToDecline: 30,
      };
    },
    methods: {
      stopTimers() {
        this.timeout && clearTimeout(this.timeout);
      },
      acceptBtnClickHandler() {
        this.stopTimers();
        this.$store.dispatch('calls/moveIncomingToActive', this.call.id);
      },
      declineBtnClickHandler() {
        this.stopTimers();
        this.$store.dispatch('calls/decline', this.call.id);
      },
    },
    mounted() {
      this.timeout = setTimeout(() => {
        this.declineBtnClickHandler();
      }, this.secsToDecline * 1000);
    },
    beforeDestroy() {
      this.stopTimers();
    },
  };
</script>
