.chater-modal
  position: relative
  background-color: var(--bg-white)
  border-radius: 4px
  max-height: 90%
  max-width: 90%
  padding: 0 10px 10px 10px
  cursor: auto

  @media (min-width: $md)
    max-width: 690px
    width: 100%
    height: auto
    padding: 0 30px 30px 30px
    top: 90px

  .side &
    max-height: unset
    padding: 0 30px 30px 30px
    animation-name: slideInLeft
    animation-duration: var(--transition-duration)
    animation-timing-function: var(--transition-timing-function)
    transform: translateX(0)

    @media (min-width: $md)
      top: 0
      border-radius: 15px 0 0 15px
      padding: 0 60px 60px 60px
      max-width: 615px

  &--close-btn
    @media (min-width: $md)
      transform: translateX(100%)

  &--backdrop
    position: fixed
    display: flex
    top: 0
    left: 0
    justify-content: center
    align-items: center
    height: 100%
    width: 100%
    background-color: rgba(0, 0, 0, .4)
    z-index: 4

    @media (min-width: $md)
      align-items: flex-start

    &.side
      justify-content: stretch
      align-items: stretch

      @media (min-width: $md)
        justify-content: flex-end

  &--header
    height: 30px
    display: flex
    justify-content: space-between
    align-items: center

    @media (min-width: $md)
      height: 50px


  &--content:empty,
  &--footer:empty
    display: none
