<template>
  <li class="chatter-message-form__list-item">
    <span class="chatter-message-form__list-item-text">{{ upload.name }}</span>

    <button class="chatter-message-form__list-item-close" @click="removeBtnClickHandler">
      <icon type="close"/>
    </button>
  </li>
</template>

<script>
  import Icon from '@vue/components/deco/icon';

  export default {
    components: {
      icon: Icon,
    },
    props: {
      upload: {
        type: File,
        required: true,
      },
    },
    methods: {
      removeBtnClickHandler() {
        this.$store.dispatch('files/removeForUpload', this.upload);
      },
    },
  };
</script>
