<template>
  <ul class="chatter-message-form__list">
    <upload-item v-for="upload in uploads"
                 :key="upload.lastModified"
                 :upload="upload" />
  </ul>
</template>

<script>
  import UploadItem from '@vue/components/chat/uploads/upload-item';

  export default {
    components: {
      'upload-item': UploadItem,
    },
    computed: {
      uploads() {
        return [...Object.values(this.$store.getters['files/forUpload'])];
      },
    },
  };
</script>
