<template>
  <div class="chat-add-file">
    <input v-show="false"
           type="file"
           multiple="multiple"
           :size="inputFileSize"
           :accept="inputFileAccepts"
           @change="fileInputChangeHandler"
           ref="fileInput">
    <button class="chat-add-file__btn"
            @click="addFileBtnClickHandler">
      <icon type="attachment"/>
    </button>
  </div>
</template>

<script>
  import {
    ALLOWED_UPLOAD_FILE_TYPES,
    ALLOWED_UPLOAD_FILE_SIZE,
    ALLOWED_UPLOAD_FILES_COUNT,
  } from '@shared/const/threasholds';

  import Icon from '@vue/components/deco/icon';

  export default {
    components: {
      icon: Icon,
    },
    computed: {
      inputFileAccepts() {
        return ALLOWED_UPLOAD_FILE_TYPES.join(',');
      },
      inputFileSize() {
        return ALLOWED_UPLOAD_FILE_SIZE;
      },
    },
    methods: {
      addFileBtnClickHandler() {
        this.$refs.fileInput.click();
      },
      fileInputChangeHandler({target: {files}}) {
        this.$emit('uploadFiles', [...files].slice(0, ALLOWED_UPLOAD_FILES_COUNT));
      },
    },
  };

</script>
