<template>
  <div class="chater-dialog-cp">
    <b class="chater-dialog-cp--title">{{ title }}</b>
    <div class="chater-dialog-cp--type">{{ type }}</div>
    <div class="chater-dialog-cp--field">
      <div class="chater-dialog-cp--field-title">{{ $t('muteChat') }}</div>
      <div class="chater-dialog-cp--field-desc">{{ $t('muteChatDesc') }}</div>
      <switcher class-name="chater-dialog-cp--field-control"
                v-model="isMuted"/>
    </div>
    <invite-form v-if="canShowInviteForm"
                 class-name="chater-dialog-cp--invite" />
    <div class="chater-dialog-cp--user-list">
      <user-card v-for="user in members"
                 :user="user"
                 :show-status="false"
                 :show-meta="true"
                 wrapper-class="chat-member"
                 :key="`dialog-member-${user.id}`" >
        <template slot="status">
          {{ formatUserPosition(user.position) }}
        </template>

        <template v-if="canShowActions(user)" slot="actions">
          <icon-btn icon="delete"
                    @click.native="removeBtnClickHandler(user)"
                    class-name="red-text has-click"/>
        </template>
      </user-card>
    </div>
  </div>
</template>

<script>
  import dialogItemMixin from '@vue/components/dialog-list/dialog-item-mixin';
  import InviteForm from '@vue/components/chat/header/invite-form';
  import UserCard from '@vue/components/user-card';
  import IconBtn from '@vue/components/deco/icon-btn';
  import Switcher from '@vue/components/deco/switcher';
  import {TYPE_ANONYMOUS_CHAT, TYPE_GROUP_CHAT} from '@shared/const/room-types'
  import {
    UR_STATUS_ACTIVE,
    UR_STATUS_MUTED,
  } from '@shared/const/user-room-status';

  export default {
    components: {
      'invite-form': InviteForm,
      'user-card': UserCard,
      'icon-btn': IconBtn,
      switcher: Switcher,
    },
    mixins: [
      dialogItemMixin,
    ],
    computed: {
      isMuted: {
        get() {
          return this.relation.status === UR_STATUS_MUTED;
        },
        set(value) {
          this.setActiveStatus(value);
        },
      },
      relation() {
        const {id} = this.activeDialog;

        return this.$store.getters['user/room'](id);
      },
      canShowInviteForm() {
        return [
          TYPE_ANONYMOUS_CHAT,
          TYPE_GROUP_CHAT,
        ].indexOf(this.activeDialog.type) > -1;
      },
      activeDialog() {
        return this.$store.getters['dialogs/activeChat'] || {};
      },
      type() {
        const type = this.activeDialog.type || '';

        if (type === TYPE_ANONYMOUS_CHAT) {
          return this.$t('anonymousChat');
        }

        return this.$t('defaultChat');
      },
      members() {
        return this.$store.getters['dialogs/activeDialogMembers'];
      },
      // bridge for mixin
      dialog() {
        return this.activeDialog;
      },
    },
    methods: {
      formatUserPosition(positions) {
        return positions.split(',').map((position) => {
          position = position.trim();

          return this.$t(position, position);
        }).join(', ');
      },
      setActiveStatus(isMuted) {
        const {id} = this.activeDialog;

        this.$store.dispatch('user/updateRoomRelation', {
          roomId: id,
          status: isMuted ? UR_STATUS_MUTED : UR_STATUS_ACTIVE,
        });
      },
      canShowActions(user) {
        const {id} = this.$store.getters['user/currentUser'] || {};

        return this.activeDialog.userId === id || user.id === id;
      },
      removeBtnClickHandler(user) {
        const {id} = this.$store.getters['user/currentUser'] || {};

        const question = user.id === id ?  'rUSureExitRoom' : 'rUSureRemoveUserFromRoom';
        if (!confirm(this.$t(question))) {
          return;
        }

        this.$store.dispatch('dialogs/removeMember', {
          id: user.id,
        });
      },
    },
  };
</script>
