<template>
  <div class="message-window__list"
       @scroll="listScrollHandler"
       ref="list">
    <lazy-load-trigger v-if="canShowLazyLoadTrigger"
                       :loading="loading"
                       :root="$refs.list"
                       @markIntersected="scrollMarkListIntersectHandler"/>

    <message v-for="message in messages"
             :key="message.id"
             :message="message"/>
  </div>
</template>

<script>
  import Message from '@vue/components/chat/message/item';
  import LazyLoadTrigger from '@vue/components/loading/lazy-loader-trigger';

  export default {
    props: {
      messages: {
        type: Array,
        default: [],
      },
    },
    components: {
      'message': Message,
      'lazy-load-trigger': LazyLoadTrigger,
    },
    data() {
      return {
        init: false,
        needScrollObserver: null,
        disableAutoScroll: false,
        scrollTimeOut: null,
      };
    },
    computed: {
      canShowLazyLoadTrigger() {
        return this.init && this.$store.getters['chats/lastLoadedCount'] !== 0;
      },
      loading() {
        return this.$store.getters['chats/loading'];
      },
    },
    methods: {
      listScrollHandler() {
        const list = this.$refs.list;
        this.disableAutoScroll = list.scrollHeight > (list.clientHeight + list.scrollTop);
      },
      scrollListToEnd() {
        const list = this.$refs.list;
        if (!this.disableAutoScroll && list.scrollHeight > (list.clientHeight + list.scrollTop)) {
          list.scrollTop = list.scrollHeight;
        }
      },
      scrollMarkListIntersectHandler() {
        if (this.loading) {
          return;
        }

        const {getters, dispatch} = this.$store;
        dispatch('chats/setLoading', true);
        const chat = getters['dialogs/activeChat'];

        dispatch('chats/getChatMessages', {
          chatId: chat.id,
          offset: this.messages.length,
        });
      },
      needScrollHandler() {
        clearTimeout(this.scrollTimeOut);
        this.scrollTimeOut = setTimeout(this.scrollListToEnd, 350);
      },
    },
    mounted() {
      this.init = true;

      this.needScrollObserver = new MutationObserver(this.needScrollHandler);
      this.needScrollObserver.observe(this.$refs.list, {
        childList: true,
      });
    },
    beforeDestroy() {
      this.needScrollObserver && this.needScrollObserver.disconnect();
      this.needScrollObserver = null;
    },
  };
</script>
