<template>
  <div class="chatter-message-form">

    <template v-if="isFormEnabled">
      <div class="chatter-message-form__content-menu" v-if="reply">
        <icon-btn @click.native="noReplyBtnClickHandler"
                  class-name="chatter-message-form__content-menu--close"
                  icon="cancel" />
        <div class="chatter-message-form__content-menu--name">{{ reply.user.nick }}</div>
        <div class="chatter-message-form__content-menu--text">{{ reply.message }}</div>
      </div>
      <preloader v-if="isUploading"/>
      <upload-list v-if="canShowUploadedList"/>
      <users-activities/>
      <div class="chatter-message-form__send-message">

      <uploader v-if="!isRecording && !isEdit"
                @uploadFiles="uploaderFilesSelectedHandler"/>
      <label class="chatter-message-form__textarea" v-if="!isRecording">
        <textarea-autosize
                ref="textarea"
                v-model="message"
                :placeholder="$t('messageText')"
                :min-height="20"
                rows="1"
                :max-height="100"
                @keydown.native="textareaKeyDownHandler"/>
      </label>
      <div v-else
           class="chatter-message-form__recording-text">
        {{ $t('recording') }}
      </div>
      <div class="chatter-message-form__wrap-btn">
        <icon-btn v-if="canShowRecordBtn"
                  @click.native="recordAudioMsgBtnClickHandler"
                  class-name="chatter-message-form__record-btn"
                  :icon="recordBtnText" />
        <icon-btn v-if="canShowSendBtn"
                  @click.native="sendBtnClickHandler"
                  class-name="chatter-message-form__send-btn"
                  icon="send" />
      </div>
    </div>
    </template>
    <div class="chatter-message-form__disable-msg" v-else>
      {{ $t('dialogIsDisabled') }}
    </div>
  </div>
</template>

<script>

  import {bulkReadFiles} from '@js/util/files';
  import Preloader from '@vue/components/loading/preloader';
  import Uploader from '@vue/components/chat/uploads/uploader';
  import UploadList from '@vue/components/chat/uploads/upload-list';
  import UsersActivitiesPanel from '@vue/components/chat/users-activities';
  import {STATE_ACTIVE, STATE_INACTIVE} from '@shared/const/state';
  import {ACTIVITY_FILES_UPLOADING, ACTIVITY_TYPING} from '@shared/const/activities-types';
  import Icon from '@vue/components/deco/icon';
  import IconBtn from '@vue/components/deco/icon-btn';

  export default {
    data() {
      return {
        message: '',
        cancelWatch: null,
        isRecording: false,
        isTyping: false,
        typingCancelTimeout: null,
        textareaRows: 1,
        textareaHeight: 0,
      };
    },
    components: {
      icon: Icon,
      preloader: Preloader,
      uploader: Uploader,
      'upload-list': UploadList,
      'users-activities': UsersActivitiesPanel,
      'icon-btn': IconBtn,
    },
    computed: {
      isFormEnabled() {
        const {stats} = this.$store.getters['dialogs/activeChat'] || {};
        const {members} = stats || {members: []};

        return members.length > 0;
      },
      messageContent() {
        return this.message.trim();
      },
      canShowRecordBtn() {
        return this.messageContent.length < 1 && !this.canShowUploadedList;
      },
      canShowSendBtn() {
        return this.messageContent.length > 0 || this.canShowUploadedList;
      },
      reply() {
        return this.$store.getters['chats/reply'];
      },
      recordBtnText() {
        return this.isRecording ? 'send' : 'mic';
      },
      isUploading() {
        return this.$store.getters['chats/uploading'];
      },
      isEdit() {
        return this.$store.getters['chats/edit'];
      },
      canShowUploadedList() {
        return Object.keys(this.$store.getters['files/forUpload']).length > 0;
      },
    },
    methods: {
      test(e) {
        console.log(e);
      },
      calculateTextareaRows() {
        if (this.message.length === 0) {
          this.textareaRows = 1;

          return;
        }

        const rows = Math.ceil(this.$refs.textarea.scrollHeight / this.textareaHeight);

        this.textareaRows = rows > 5 ? 5 : rows < 1 ? 1 : rows;
      },
      noReplyBtnClickHandler() {
        this.$store.dispatch('chats/setReply', null);
      },
      uploaderFilesSelectedHandler(files) {
        this.$store.dispatch('files/setForUpload', files);
      },
      textareaKeyDownHandler(event) {
        this.calculateTextareaRows();
        const {keyCode, shiftKey, metaKey, ctrlKey, altKey} = event;
        if (keyCode === 13 && !shiftKey && !ctrlKey && !metaKey && !altKey) {
          event.preventDefault();
          this.sendBtnClickHandler();
        }

        if (!this.isTyping) {
          this.isTyping = true;

          this.$store.dispatch('chats/sendMyActivity', {
            roomId: this.$store.getters['dialogs/activeChat'].id,
            state: STATE_ACTIVE,
            type: ACTIVITY_TYPING,
          });
        }

        clearTimeout(this.typingCancelTimeout);
        this.typingCancelTimeout = setTimeout(() => {
          this.$store.dispatch('chats/sendMyActivity', {
            roomId: this.$store.getters['dialogs/activeChat'].id,
            state: STATE_INACTIVE,
            type: ACTIVITY_TYPING,
          });
        }, 750);
      },
      recordAudioMsgBtnClickHandler() {
        if (this.isRecording) {
          this.$store.dispatch('chatAudio/stop');
        } else {
          this.$store.dispatch('chatAudio/start');
        }

        this.isRecording = !this.isRecording;
      },
      sendBtnClickHandler() {
        const {dispatch, getters} = this.$store;
        const currentChat = getters['dialogs/activeChat'];
        if (!currentChat) {
          console.error('No active chat');

          return;
        }

        const message = this.messageContent;
        if (message.length < 1 && !this.canShowUploadedList) {
          return;
        }

        this.message = '';
        const edit = this.isEdit;

        return Promise.resolve().then(() => {
          if (edit) {
            return dispatch('chats/setEdit', null).then(dispatch('chats/sendEdit', {
              message,
              id: edit.id,
            }));
          } else {
            const forUpload = Object.values(getters['files/forUpload']);

            if (forUpload.length > 0) {
              dispatch('chats/sendMyActivity', {
                roomId: currentChat.id,
                state: STATE_ACTIVE,
                type: ACTIVITY_FILES_UPLOADING,
              });
            }

            bulkReadFiles(forUpload).then((files) => {
              dispatch('files/setForUpload', {}).then(dispatch('chats/send', {
                message,
                roomId: currentChat.id,
                files,
              }));
            });
          }
        }).then(() => {
          this.noReplyBtnClickHandler();
        });
      },
    },
    mounted() {
      if (!this.$refs.textarea) {
        return;
      }

      this.textareaHeight = this.$refs.textarea.clientHeight / 2;

      this.cancelWatch = this.$store.watch(
        () => this.$store.getters['chats/edit'],
        (msg) => {
          if (!msg) {
            return;
          }

          this.message = msg.message;
        },
      );
    },
    beforeDestroy() {
      this.cancelWatch && this.cancelWatch();
    },
  };
</script>
