<template>
  <div v-if="hasActivities">
    {{ activities }}
  </div>
</template>

<script>
  import {objectLength} from '@js/util/etc';

  export default {
    computed: {
      hasActivities() {
        return objectLength(this.$store.getters['chats/activities']) > 0;
      },
      activities() {
        const activities = this.$store.getters['chats/activities'];
        const activitiesStrs = [];

        for (const type in activities) {
          if (!activities.hasOwnProperty(type)) {
            continue;
          }

          activitiesStrs.push(`${[...activities[type]].join(', ')} ${this.$t(type)}`);
        }

        return activitiesStrs.join(', ');
      },
    },
  };
</script>
