.chater-user-list
  justify-self: stretch
  background-color: var(--bg-white)
  transition: transform var(--transition-duration) var(--transition-timing-function)
  transform: translateX(100%)
  z-index: 2
  display: grid
  grid-template-rows: 50px 50px minmax(auto, calc(100% - 100px)) 50px
  border-radius: 15px 0 0 0

  &.active
    transform: translateX(0)
    border-radius: 20px 0 0 0

  &--wrap-btn
    grid-column: 1/2
    grid-row: 1/2
    z-index: 3
    -webkit-transform: translateX(calc(-100% - 30px))
    transform: translateX(calc(-100% - 30px))
    display: flex
    justify-content: flex-end
    align-items: center

    .chater-btn:not(:last-child)
      margin-right: 30px

  &--content
    grid-column: 1/2
    grid-row: 1/5

  &--header
    align-self: center
    grid-row: 1/2
    grid-column: 1/2
    font-size: var(--font-title)
    padding: 0 24px

    &+.chater-user-list--content
      grid-row: 2/5

  &--items
    padding: 0 24px

  &--item
    align-items: flex-start
    &:not(:last-child)
      margin-bottom: 15px

  @media (min-width: var(--md))
    &
      justify-self: end
      width: 100%
      max-width: 380px
