.chater-wrapper
  display: grid
  grid-template-rows: 50px auto 60px 45px
  grid-template-columns: 40px 100px auto 380px
  overflow: hidden
  min-height: 450px
  height: 100%
  background-image: var(--home-image)
  background-size: cover
  background-position: center
  background-repeat: no-repeat

  &.full-screen
    width: 100%

  &::before
    content: ''
    display: flex
    grid-row: 1/3
    grid-column: 1/5
    z-index: 1
    transition: opacity var(--transition-timing-function) var(--transition-duration)
    opacity: 0
    background: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
    height: 100px

  &:hover::before
    opacity: .6

  .chater-video--status
    grid-row: 1/2
    grid-column: 1/4
    justify-self: start
    display: flex
    padding-left: 20px
    z-index: 1
    align-items: center

    .chater-network-status
      margin-right: 15px

    .perm-status-panel--item:not(:last-child)
      margin-right: 15px

  .chater-notification-list
    justify-self: end
    z-index: 5

  .incoming-calls-list,
  .outgoing-calls-list
    position: fixed
    right: 10px
    top: 10px
    display: flex
    flex-direction: column
    z-index: 4

    & > .user-card
      background-color: var(--bg-white)
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1)
      border-radius: 8px
      padding: 20px
      margin-bottom: 10px


  .outgoing-calls-list
    align-self: end

  .perm-status-panel
    grid-column: 2/3
    grid-row: 1/2
    justify-self: start

  &.full-screen > .perm-status-panel
    grid-column: 3/4

  @import "chater-user-list"

  .chater-grid
    grid-column: 2/3
    grid-row: 1/3
    height: 100vh

  .chater-user-list
    grid-column: 4/5
    grid-row: 1/5
    height: 100%
    justify-self: end
    width: 100%

  video
    grid-column: 1/5
    grid-row: 1/5
    object-fit: contain
    width: 100%
    z-index: 0
    background-color: var(--bg-black)

  .video-btn-wrap
    z-index: 1
    grid-row: 3/4
    grid-column: 1/5
    display: flex
    align-items: center
    justify-content: center
