.dialog-room
  width: 100%
  border-bottom: 1px solid var(--br-chat)
  padding: 15px
  display: grid
  grid-template-rows: 1fr
  grid-template-columns: 50px auto max-content
  cursor: pointer
  transition: background-color var(--transition-duration) var(--transition-timing-function)
  background-color: transparent

  &:hover,
  &.active
    background-color: var(--bg-search)

  &__chat-count
    grid-row: 2/3
    grid-column: 3/4
    display: flex
    justify-content: flex-end

  &__chat-count-number
    background: var(--bg-green)
    border-radius: 8px
    height: 16px
    color: var(--text-wht)
    padding: 0 5px
    font-size: 14px

  &__wrap
    grid-row: 1/2
    grid-column: 2/3
    display: flex
    justify-content: space-between

  &__time
    color: var(--text-slvr)
    font-size: var(--chat-extra-small)

  &__message
    font-size: var(--chat-small)
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    padding-right: 5px
    display: block
    grid-row: 2/3
    grid-column: 2/3

  &__title
    font-size: var(--chat-medium)
    padding-right: 15px
