@import "gallery-slider"

.chater-master-slider
    grid-column: 2/3
    grid-row: 1/4
    z-index: 2
    align-self: end
    row-gap: 5px
    display: grid

    &--item
        grid-template-rows: 1fr 50px
        grid-template-columns: 1fr 50px
        display: grid

    &--item[data-id="local"]
      video
        transform: rotateY(180deg)

    &--master
      video
        height: 100%

    &--master.master-local
      transform: rotateY(180deg)

    &--username
        color: var(--text-wht)
        font-size: 16px
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: flex-start
        grid-row: 2/3
        grid-column: 1/3
        z-index: 2
        padding-left: 5px

    &--list
        row-gap: 10px
        display: grid

.chater-master-slider--master
    height: 100%
