.chater-gallery-slider
  display: grid
  width: 100%
  height: 100%
  grid-row-gap: 10px
  grid-template-rows: auto 50px
  grid-template-columns: auto

  @media (min-width: $md)
    grid-template-rows: auto 90px

  &__prev-btn,
  &__next-btn
    grid-column: 1/2
    grid-row: 1/2
    align-self: stretch
    width: 35px
    margin-right: 0

    @media (min-width: $md)
      width: 50px

  &__prev-btn
    justify-self: start

  &__next-btn
    justify-self: end

  &__preview
    grid-column: 1/2
    grid-row: 1/2
    min-height: 50px
    overflow-y: auto
    max-height: 70vh
    display: flex

    @media (min-width: $md)
      max-height: 50vh

    & > img
      display: flex
      justify-self: stretch
      align-self: stretch
      border-radius: 4px

  &__slides
    grid-column: 1/2
    grid-row: 2/3
    display: flex
    align-items: stretch
    overflow-x: auto

    .chater-gallery-slider__slide
      max-width: calc((100% - 30px) / 4)
      border-radius: 4px
      cursor: pointer

      &:not(:last-child)
        margin-right: 10px

      &.active
        border: 2px solid var(--bg-green)
