<template>
  <div class="video-btn-wrap">
    <icon-btn v-if="canShowMicBtn"
              @click.native="toggleMicBtnClickHandler"
              class-name="chater-btn chater-btn--video-conf-btn options"
              :icon="micIcon"/>

    <icon-btn v-if="canShowCloseBtn"
              @click.native="closeCallsBtnClickHandler"
              class-name="chater-btn chater-btn--video-conf-btn red"
              icon="phone"/>

    <icon-btn v-if="canShowCamBtn"
              @click.native="toggleCamBtnClickHandler"
              class-name="chater-btn chater-btn--video-conf-btn options"
              :icon="camIcon"/>

    <icon-btn v-if="masterFrame"
              @click.native="muteMasterBtnClickHandler"
              class-name="chater-btn chater-btn--video-conf-btn options"
              :icon="mutedIcon"/>

    <icon-btn v-if="canCallToAll"
              @click.native="callAllUsers"
              class-name="chater-btn chater-btn--video-conf-btn green"
              icon="phone"/>

  </div>
</template>

<script>
  import {filterObject, isSubObject, objectLength} from '@js/util/etc';
  import {STATUS_ONLINE} from '@js/const/status';
  import IconBtn from '@vue/components/deco/icon-btn';

  export default {
    components: {
      'icon-btn': IconBtn,
    },
    data() {
      return {
        camEnabled: true,
        micEnabled: true,
      };
    },
    computed: {
      muted() {
        return !!this.$store.getters['app/masterFrame'].muted;
      },
      camIcon() {
        return this.camEnabled ? 'videocam' : 'videocam_off';
      },
      mutedIcon() {
        return this.muted ? 'volume_off': 'volume_up';
      },
      micIcon() {
        return this.micEnabled ? 'mic_none' : 'mic_off'
      },
      masterFrame() {
        return this.$store.getters['app/masterFrame'];
      },
      canShowCamBtn() {
        return this.$store.getters['permissions/hasCamera'] && this.$store.getters['calls/activeCalls'].length > 0;
      },
      canShowMicBtn() {
        return this.$store.getters['permissions/hasMic'] && this.$store.getters['calls/activeCalls'].length > 0;
      },
      canShowCloseBtn() {
        return this.$store.getters['calls/activeCalls'].length > 0;
      },
      canCallToAll() {
        const {getters} = this.$store;
        const usersInRoom = filterObject(
            getters['roomUsersList/onlineUsersObject'],
            (item) => {
              return item.hasPeer;
            }
        );
        const incomingOutgoingCalls = {
          ...getters['calls/incomingCallsObject'],
          ...getters['calls/outgoingCallsObject'],
        };
        const calls = {
          ...getters['calls/activeCallsObject'],
          ...incomingOutgoingCalls,
        };

        if (
            this.readonly ||
            (!getters['permissions/hasCamera'] && !getters['permissions/hasMic']) ||
            !getters['permissions/isOnline'] ||
            objectLength(incomingOutgoingCalls) > 0
        ) {
          return false;
        }

        return objectLength(calls) > 0 ? !isSubObject(usersInRoom, calls) : objectLength(usersInRoom) > 0;
      },
    },
    methods: {
      toggleCamBtnClickHandler() {
        this.camEnabled = !this.camEnabled;

        this.$userMedia.setEnabledCam(this.camEnabled);
      },
      toggleMicBtnClickHandler() {
        this.micEnabled = !this.micEnabled;

        this.$userMedia.setEnabledMic(this.micEnabled);
      },
      muteMasterBtnClickHandler() {
        const master = this.$store.getters['app/masterFrame'];

        this.$store.dispatch('app/setMasterFrame', {
          ...master,
          muted: !master.muted,
        });
      },
      closeCallsBtnClickHandler() {
        const {dispatch, getters} = this.$store;

        dispatch('app/setMasterFrame', null);

        for (const id of Object.values(getters['calls/activeCalls'])) {
          dispatch('calls/removeActiveCall', id);
        }
      },
      callAllUsers() {
        this.$store.dispatch('calls/callToAll');
      },
    },
    mounted() {
      this.$store.watch(
        () => this.$store.getters['calls/activeCalls'],
        (activeCalls) => {
          if (activeCalls.length < 1) {
            this.camEnabled = true;
            this.micEnabled = true;
          }
        }
      );
    }
  };
</script>
