<template>
  <div :style="avatarStyle"
       :class="className">
    <span :class="onlineClass"/>
  </div>
</template>

<script>
  import {STATUS_ONLINE} from '@shared/const/status';

  export default {
    props: {
      user: {
        type: Object,
        required: true,
      },
      wrapperClass: {
        type: String,
      },
    },
    computed: {
      avatarStyle() {
        return `background-image: url("${this.user.avatar}"), url("https://ui-avatars.com/api/?name=${encodeURIComponent(this.user.nick)}");`;
      },
      className() {
        return `user-card--avatar ${this.wrapperClass}`
      },
      onlineClass() {
        return 'user-card--online ' + (this.user.status === STATUS_ONLINE ? 'active' : '');
      },
    },
  };
</script>
