<template>
  <div v-if="canShow"
       class="perm-status-panel">
    <icon v-if="hasNoCam"
          type="videocam_off"
          wrapper-class="perm-status-panel--item animation_blink"/>
    <icon v-if="hasNoMic"
          type="mic_off"
          wrapper-class="perm-status-panel--item animation_blink"/>
    <icon v-if="isOffline"
          type="signal_wifi_off"
          wrapper-class="perm-status-panel--item animation_blink"/>
  </div>
</template>

<script>
  import Icon from '@vue/components/deco/icon';

  export default {
    components: {
      icon: Icon,
    },
    props: {
      status: {
        type: Object,
        default: null,
      }
    },
    computed: {
      canShow() {
        return this.hasNoCam || this.hasNoMic || this.isOffline;
      },
      hasNoCam() {
        return this.status ? !this.status.hasCamera : !this.$store.getters['permissions/hasCamera'];
      },
      hasNoMic() {
        return this.status ? !this.status.hasMicrophone : !this.$store.getters['permissions/hasMic'];
      },
      isOffline() {
        return !this.status ? !this.$store.getters['permissions/isOnline'] : false;
      },
    },
  };
</script>
