<template>
  <div :class="wrapperClassName">
    <user-avatar :user="user"/>
    <b class="user-card--name">{{ title }}</b>
    <user-status v-if="showStatus"
                 :status="userPermissions"/>
    <div v-if="showStatus || showMeta"
         class="user-card--status">
      <slot name="status"/>
    </div>
    <div class="user-card--actions">
      <slot name="actions"/>
    </div>
  </div>
</template>

<script>
  import StatusPanel from '@vue/components/user-card/devices-status';
  import Avatar from '@vue/components/user-card/avatar';

  export default {
    props: {
      user: {
        type: Object,
        required: true,
      },
      wrapperClass: {
        type: String,
        default: '',
      },
      titlePrefix: {
        type: String,
        default: '',
      },
      titleSuffix: {
        type: String,
        default: '',
      },
      showStatus: {
        type: Boolean,
        default: true,
      },
      showMeta: {
        type: Boolean,
        default: false,
      },
    },
    components: {
      'user-status': StatusPanel,
      'user-avatar': Avatar,
    },
    computed: {
      title() {
        return `${this.titlePrefix} ${this.user.nick} ${this.titleSuffix}`;
      },
      wrapperClassName() {
        return `user-card ${this.wrapperClass}`;
      },
      userPermissions() {
        const {hasCamera, hasMicrophone} = this.user;

        return {
          hasCamera,
          hasMicrophone,
        };
      },
    },
  };
</script>
